.close-btn{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-bottom:10px
}
.close-icon{
    font-size: 15px;
}
.text-padding{
    padding: 15px 0 0 0;

}
.mat-dialog-actions {
    min-height: 31px;
}
.heading-txt{
    text-transform: capitalize;
}