.notification-box {
    posiTion: fixed;
    bottom: 20px;
    right: 20px;
    width: 412px;
    height: 88px;
}

.content {
    background-color: #263238;
    padding-left: 8px;
}

.close-button {
    position: fixed;
    bottom: 70px;
    right: 30px;
    cursor: pointer;
}

.mat-icon:hover {
    color: #0097a7;
}

.edgeline {
    height: 80px;
    width: 2px;
    background-color: #0097a7;
}

.bottomline {
    width: 412px;
    height: 2px;
    background-color: #0097a7;
}

.check-button {
    background-color: #0097a7;
    margin-top: -10px;
}
