.notification-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 412px;
    height: 108px;
}

.content {
    background-color: #263238;
    padding-left: 8px;
    border-left: 2px solid #0097a7;
    border-right: 2px solid #0097a7;
    border-bottom: 2px solid #0097a7;
}

.lightTheme {
    background-color: white;
}

.close-button {
    position: fixed;
    bottom: 90px;
    right: 30px;
    cursor: pointer;
}

.mat-icon:hover {
    color: #0097a7;
}

.check-button {
    background-color: #0097a7;
    margin-top: -10px;
}

.hidden {
    visibility: hidden;
}
