.ad {
  background-color: #263238;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}

button {
  background-color: #0097a7;
  margin-top: 10px;
  border: none;
  outline: none;
  padding: 5px;
  color: white;
  font-weight: bold;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 4px;
}

a {
  color: #0097a7;
}
