.butler a {
  color: #0097a7;
}

.butler {
  font-size: 14px;
}

.butlerdark {
  width: 600px; 
  border: 0px solid #C0C0C0; 
  background-color: #263238;
}

.butlerlight {
  width: 600px; 
  border: 0px solid #C0C0C0; 
  background-color: white;
}

.rowdark {
  background-color: #263238;
}

.rowlight {
  background-color: #263238;
}
