<div class="header">
  <div>
    <div>
      Allow:
    </div>
    <div class="box allow"></div>
    <div>
      Deny:
    </div>
    <div class="box deny"></div>
  </div>
  <div>
    <button
      mat-button
      mat-raised-button
      (click)="reset()">Reset
    </button>
    <button
      mat-button
      mat-raised-button
      (click)="update()"
      color="primary">Update
    </button>
  </div>
</div>
<div class="editor">
  <div class="column">
    <div class="title">Owned</div>
    <app-editable-permission
      [side]="'LEFT'"
      [permission]="permission"
      (click)="remove(permission)"
      *ngFor="let permission of owned">

    </app-editable-permission>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div class="column">
    <div class="title">available</div>
    <app-editable-permission
      [side]="'RIGHT'"
      [permission]="permission"
      (click)="add(permission)"
      *ngFor="let permission of available">

    </app-editable-permission>
  </div>
</div>
