<div class="vmware-templates">
  <header class="vmware-templates__header">
    @if (controller) {
    <button
      class="vmware-templates__back-btn"
      [routerLink]="'/controller/' + controller.id + '/preferences'"
      mat-icon-button
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    }
    <h1 class="vmware-templates__title">VMware VM templates</h1>
    @if (controller) {
    <button
      class="vmware-templates__add-btn"
      matTooltip="Add VMware template"
      matTooltipClass="custom-tooltip"
      [routerLink]="'/controller/' + controller.id + '/preferences/vmware/addtemplate'"
      mat-icon-button
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    }
  </header>

  <main class="vmware-templates__content">
    @if (!vmwareTemplates.length) {
    <app-empty-templates-list></app-empty-templates-list>
    } @if (vmwareTemplates.length) {
    <nav class="vmware-templates__list">
      @for (template of vmwareTemplates; track template.template_id) {
      <div class="vmware-templates__list-item">
        <a class="vmware-templates__list-link" [routerLink]="template.template_id">
          <mat-icon class="vmware-templates__list-icon">memory</mat-icon>
          <span class="vmware-templates__list-name">{{ template.name }}</span>
        </a>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="vmware-templates__menu-btn" (click)="$event.stopPropagation(); $event.preventDefault()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a mat-menu-item [routerLink]="template.template_id">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </a>
          <button mat-menu-item (click)="deleteTemplate(template)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </div>
      }
    </nav>
    }
  </main>
</div>
<app-delete-template #deleteComponent [controller]="controller" (deleteEvent)="onDeleteEvent()"></app-delete-template>
