<div>
  <div class="button">
    <button
      mat-button
      mat-raised-button
      (click)="close()">
      Cancel
    </button>
    <button *ngIf="data.add.length > 0 || data.remove.length > 0"
      mat-button
      mat-raised-button
      color="primary"
      (click)="update()">
      Apply
    </button>
  </div>
  <div class="change" *ngIf="data.add.length > 0 || data.remove.length > 0; else nothingTodo">
    <p></p>
    <div class="title" *ngIf="data.add.length > 0">Permission to Add:</div>
    <div *ngFor="let permission of data.add">
      <app-editable-permission [permission]="permission"></app-editable-permission>
    </div>
    <div class="title" *ngIf="data.remove.length > 0">Permission to Remove:</div>
    <div *ngFor="let permission of data.remove">
      <app-editable-permission [permission]="permission"></app-editable-permission>
    </div>
  </div>
  <ng-template #nothingTodo>
    <div class="noChange">
      No change
    </div>
  </ng-template>
</div>
