.change {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
}

.change div {
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.title {
  font-size: 20px;
}

.button {
  position: relative;
  top: 400px;
  z-index: 1;
}

.button button {
  margin-right: 50px;
}

.noChange {
  display: flex;
  justify-content: center;
  justify-items: center;
}
