<div class="context-menu" [style.left]="leftPosition" [style.top]="topPosition">
  <span [matMenuTriggerFor]="contextMenu"></span>
  <mat-menu #contextMenu="matMenu" class="context-menu-items">
    <app-start-node-action *ngIf="nodes.length" [server]="server" [nodes]="nodes"></app-start-node-action>
    <app-stop-node-action *ngIf="nodes.length" [server]="server" [nodes]="nodes"></app-stop-node-action>
    <app-edit-style-action *ngIf="drawings.length===1 && !hasTextCapabilities"
      [server]="server"
      [project]="project"
      [drawing]="drawings[0]"
    ></app-edit-style-action>
    <app-edit-text-action
      *ngIf="drawings.length===1 && hasTextCapabilities"
      [server]="server"
      [project]="project"
      [drawing]="drawings[0]"
    ></app-edit-text-action>
    <app-move-layer-up-action
      *ngIf="!projectService.isReadOnly(project) && (drawings.length || nodes.length)"
      [server]="server"
      [nodes]="nodes"
      [drawings]="drawings"
    ></app-move-layer-up-action>
    <app-move-layer-down-action
      *ngIf="!projectService.isReadOnly(project) && (drawings.length || nodes.length)"
      [server]="server"
      [nodes]="nodes"
      [drawings]="drawings"
    ></app-move-layer-down-action>
    <app-delete-action
      *ngIf="!projectService.isReadOnly(project)"
      [server]="server"
      [nodes]="nodes"
      [drawings]="drawings"
      [links]="links"
    ></app-delete-action>
  </mat-menu>
</div>
