.form-field {
    width: 100%;
}

.radio-button {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.radio-group {
    margin-bottom: 20px;
}

.buttons-bar {
    padding-top: 20px;
}

.nonvisible {
    display: none;
}

.file-button {
    width: 18%;
}

.file-name-form-field {
    padding-left: 2%;
    width: 80%;
}
