<div class="virtualbox-add">
  <header class="virtualbox-add__header">
    @if (controller) {
      <button
        class="virtualbox-add__back-btn"
        (click)="goBack()"
        mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <h1 class="virtualbox-add__title">New VirtualBox VM template</h1>
  </header>

  @if (virtualBoxTemplate) {
    <main class="virtualbox-add__content">
      <section class="virtualbox-add__form-card">
        <form [formGroup]="vmForm" class="virtualbox-add__form">
          <mat-form-field appearance="fill" class="virtualbox-add__field">
            <mat-label>VM list</mat-label>
            <mat-select placeholder="VM list" formControlName="vm">
              @for (vm of virtualMachines; track vm) {
                <mat-option [value]="vm">
                  {{ vm.vmname }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
        <mat-checkbox [(ngModel)]="virtualBoxTemplate.linked_clone" class="virtualbox-add__checkbox">
          Use as a linked base VM (experimental)
        </mat-checkbox>
      </section>

      <div class="virtualbox-add__actions">
        <button mat-button class="virtualbox-add__cancel-btn" (click)="goBack()">Cancel</button>
        <button mat-raised-button color="primary" class="virtualbox-add__submit-btn" (click)="addTemplate()">Add template</button>
      </div>
    </main>
  }
</div>
