<div class="content">
  <div class="default-header">
    <div class="row">
      <h1 class="col">New Ethernet hub template</h1>
    </div>
  </div>
  <div class="default-content">
    <mat-card class="matCard">
      <mat-radio-group class="radio-group">
        <mat-radio-button class="radio-button" value="1" (click)="setServerType('local')" checked
          >Run the Ethernet Hub locally</mat-radio-button
        >
        <mat-radio-button
          [disabled]="!isGns3VmAvailable"
          class="radio-button"
          value="2"
          (click)="setServerType('gns3 vm')"
          >Run the Ethernet Hub on the GNS3 VM</mat-radio-button
        >
      </mat-radio-group>

      <form [formGroup]="formGroup">
        <mat-form-field class="form-field">
          <input formControlName="templateName" matInput type="text" placeholder="Template name" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input formControlName="numberOfPorts" matInput type="number" placeholder="Number of ports" />
        </mat-form-field>
      </form>
    </mat-card>
    <div class="buttons-bar">
      <button mat-button class="cancel-button" (click)="goBack()">Cancel</button>
      <button mat-raised-button color="primary" (click)="addTemplate()">Add template</button>
    </div>
  </div>
</div>
