@if (status && point && direction) {
  <svg:g>
    @if (status == 'started') {
      <svg:circle
        class="status_started"
        [attr.cx]="point.x"
        [attr.cy]="point.y"
        r="6"
        [style.fill]="'var(--mat-sys-tertiary)'"
      />
    }

    @if (status == 'stopped') {
      <svg:rect
        class="status_stopped"
        [attr.x]="point.x - 10 / 2"
        [attr.y]="point.y - 10 / 2"
        width="10"
        height="10"
        r="6"
        [style.fill]="'var(--mat-sys-error)'"
      />
    }
  </svg:g>
}
