.mat-form-field {
  width: 100%;
}

.non-visible {
  display: none;
}

.txt-align {
  text-align: end;
}

.file-button {
  margin-top: 8px;
}

.choose-instal-appliance {
  display: flex;
  flex-direction: row;
  margin: 15px 0px 11px 0px;
  align-items: flex-start;
}

.instal-appliances-button {
  margin: 11px;
}

.background-hint {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #aaa;
  margin: 4px 0 0;

  .hint-icon {
    font-size: 14px;
    height: 14px;
    width: 14px;
  }
}