.context-menu {
    position: absolute;
    min-height: 0px;
}

.mat-menu-panel ng-trigger ng-trigger-transformMenu ng-tns-c7-5 context-menu-items mat-menu-after mat-menu-below ng-star-inserted mat-elevation-z4 {
    min-height: 0px!important;
}

.title {
    margin: 10px;
}