<h1 mat-dialog-title>Add new template</h1>

<mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
        <ng-template matStepLabel>Please select how you want to create new template</ng-template>

        <mat-radio-group class="radio-group">
            <mat-radio-button class="radio-button" value="1" (click)="setAction('install')" checked>Install new appliance from the GNS server</mat-radio-button><br/>
            <mat-radio-button class="radio-button" value="2" (click)="setAction('import')">Import an appliance file</mat-radio-button>
        </mat-radio-group>

        <div>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
        <ng-template matStepLabel>{{actionTitle}}</ng-template>

        <mat-card>
            <div class="tableHeader">
                <mat-form-field class="filter-field">
                    <input matInput [(ngModel)]="searchText" placeholder="Filter">
                </mat-form-field>
    
                <mat-select (selectionChange)="filterAppliances($event)" [ngModelOptions]="{standalone: true}" placeholder="Category" [(ngModel)]="category">
                    <mat-option *ngFor="let category of categories" [value]="category">
                        {{category}}
                    </mat-option>
                </mat-select>
            </div>

            <mat-table 
                class="mat-table" 
                #table 
                matSort 
                (matSortChange)= "sortData($event)" 
                [dataSource]="appliances | namefilter: searchText">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="emulator">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Emulator </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.emulator}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="vendor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Vendor </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.vendor_name}} </mat-cell>
                </ng-container>
        
                <!-- <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
                    <mat-cell *matCellDef="let row" style="text-align: right">
                        <button mat-icon-button matTooltip="Restore snapshot" (click)="restoreSnapshot(row)">
                            <mat-icon aria-label="Restore snapshot">restore</mat-icon>
                        </button>
                        
                        <button mat-icon-button matTooltip="Delete snapshot" (click)="deleteSnapshot(row)">
                            <mat-icon aria-label="Delete snapshot">delete</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container> -->
        
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            </mat-table>
        </mat-card>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>
