.radio-button {
    margin-bottom: 30px;
}

.tableHeader {
    width: 100%;
}

.filter-field {
    width: 100%;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded) {
    cursor: pointer;
}

.element-row:not(.expanded):hover {
    background: #f5f5f5;
}

.element-row.expanded {
    border-bottom-color: transparent;
}

.list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
}

.list-item-inside {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    margin-bottom: 15px;
}

.button {
    margin-left: 10px;
}

.create-button {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.radio-button {
    width: 50%;
    padding-top: 20px;
}

.selection-group {
    padding-bottom: 20px;
}
