<svg #svg class="map" preserveAspectRatio="none" [attr.width]="width()" [attr.height]="height()">
  <g [attr.transform]="transform">
    @for (layer of layers; track layer) {
    <g>
      <g class="links">
        @for (link of layer.links; track link) {
        <g [app-link]="link" [show-interface-labels]="settings.show_interface_labels"></g>
        }
        <!-- [node-changed]="nodeChanged" -->
      </g>
      <g class="nodes">
        @for (node of layer.nodes; track node) {
        <g [app-node]="node" [symbols]="symbols()"></g>
        }
        <!-- [node-changed]="nodeChanged"
                  (valueChange)="onNodeChanged($event)" -->
      </g>
      <g class="drawings">
        @for (drawing of layer.drawings; track drawing) {
        <g [app-drawing]="drawing"></g>
        }
      </g>
    </g>
    }
  </g>

  <g [app-selection]="svg"></g>
  <!-- (selected)="onSelection($event)" -->

  <filter id="grayscale"><feColorMatrix id="feGrayscale" type="saturate" values="0" /></filter>
</svg>
