<h1 mat-dialog-title>Change password for {{ user.username }}</h1>
<div>
  <form [formGroup]="editPasswordForm" class="input-field">
    <mat-form-field class="input-field">
      <input matInput type="password" formControlName="password" placeholder="Password"/>
      <mat-error *ngIf="passwordForm.password?.touched && passwordForm.password?.errors"
      >Password must be at least 8 characters long and contain at least one digit, one lowercase letter and one uppercase letter.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="input-field">
      <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm Password"/>
      <mat-error *ngIf="passwordForm.confirmPassword?.touched && passwordForm.confirmPassword?.errors"
      >Password and Confirm password must be the same.
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions class="button-div">
      <button mat-button (click)="onCancel()" color="accent">Cancel</button>
      <button mat-button (click)="onPasswordSave()" tabindex="2" class="add-project-button" mat-raised-button color="primary"
              [disabled]="!editPasswordForm.valid">
        Change password
      </button>
    </div>
  </form>
</div>
