<div class="content">
  <div class="default-header">
    <div class="row">
      <h1 class="col">Groups management</h1>
      <button class="col" mat-raised-button color="primary" (click)="addGroup()" class="add-group-button">
        Add group
      </button>
    </div>
  </div>

  <form>
    <mat-form-field class="full-width">
      <input matInput placeholder="Search by name" [(ngModel)]="searchText" [ngModelOptions]="{ standalone: true }" />
    </mat-form-field>
  </form>

  <div class="default-content">
    <table mat-table [dataSource]="sortedGroups | groupFilter: searchText" class="mat-elevation-z8" matSort (matSortChange)="sort($event)">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Creation date</th>
        <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
      </ng-container>


      <ng-container matColumnDef="updated_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> last update</th>
        <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
      </ng-container>


      <ng-container matColumnDef="is_builtin">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> is build in</th>
        <td mat-cell *matCellDef="let element"> {{element.is_builtin}} </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element"><button mat-button (click)="onDelete(element)"><mat-icon>delete</mat-icon></button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
  </div>
</div>
