<h1 mat-dialog-title>Create QEMU Disk Image</h1>

<div class="modal-form-container">
  <div class="content">
    <div class="default-content">
      <p class="info-note">
        Note: The created image will be saved in the project's files directory and cannot be mounted via Web UI at this time.
      </p>
      <mat-card class="matCard">
        <form [formGroup]="inputForm">
          <mat-form-field class="form-field">
            <mat-label>Disk name *</mat-label>
            <input matInput formControlName="disk_name" [matAutocomplete]="auto" placeholder="Type to search or enter" />
            <mat-autocomplete #auto="matAutocomplete">
              @for (disk of filteredDisks$ | async; track disk) {
              <mat-option [value]="disk">{{ disk }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Format *</mat-label>
            <mat-select formControlName="format">
              @for (format of formatOptions; track format) {
              <mat-option [value]="format">
                {{ format }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Size (MB) *</mat-label>
            <input matInput type="number" min="1" formControlName="size" />
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Preallocation</mat-label>
            <mat-select formControlName="preallocation">
              @for (prealloc of preallocationsOptions; track prealloc) {
              <mat-option [value]="prealloc">
                {{ prealloc }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="form-field">
            <mat-label>Lazy refcounts</mat-label>
            <mat-select formControlName="lazy_refcounts">
              <mat-option value="on">on</mat-option>
              <mat-option value="off">off</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" color="accent">Cancel</button>
  <button mat-button (click)="onSaveClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
