<div class="content">
    <div class="default-header">
        <div class="row">
            <h1 class="col">Copy IOS router template</h1>
        </div>
    </div>
    <div class="default-content">
        <div class="container mat-elevation-z8">
            <mat-form-field class="form-field">
                <input 
                    matInput type="text" 
                    [(ngModel)]="templateName" 
                    placeholder="Name"
                    ngDefaultControl/>
            </mat-form-field><br/>
            <div class="buttons-bar"><button mat-raised-button color="primary" (click)="addTemplate()">Copy template</button></div>
        </div>
    </div>
</div>
