/**
 * GNS3 Configure Custom Adapters Component Styles
 * Using MD3 CSS variables
 */

th {
  border: 0;
}

th.mat-header-cell {
  padding-bottom: 16px;
}

td.mat-cell {
  padding-top: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.column {
  width: 50%;
}
