th {
    border: 0px!important;
}

th.mat-header-cell {
    padding-bottom: 15px;
}

td.mat-cell {
    padding-top: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.column {
    width: 50%;
}
