<div class="content">
  <div class="default-header">
    <h1>Settings</h1>
  </div>
  <div class="default-content">
    <div class="example-container mat-elevation-z8">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Local settings
            </mat-panel-title>
            <mat-panel-description>
              Customize your local settings
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div>
            <mat-checkbox class="example-margin" [(ngModel)]="settings.crash_reports">Send anonymous crash reports</mat-checkbox>
          </div>

          <div>
            <mat-checkbox class="example-margin" [(ngModel)]="settings.experimental_features">Enable experimental features (WARNING: IT CAN BREAK YOU LABS!)</mat-checkbox>
          </div>

          <div>
            <mat-checkbox class="example-margin" [(ngModel)]="settings.angular_map">Enable experimental Angular Map (WARNING: IT CAN BREAK YOU LABS!)</mat-checkbox>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="buttons-bar">
      <button mat-raised-button color="primary" (click)="save()">Save settings</button>
    </div>
  </div>
</div>
