/**
 * GNS3 Node Select Interface Component Styles
 */

.context-menu {
  position: absolute;
}

.context-menu-items {
  min-height: 0;
}

.status {
  margin-right: var(--gns3-spacing-sm);
}

.port {
  margin-left: var(--gns3-spacing-sm);
}
