/**
 * GNS3 Node Select Interface Component Styles
 * Using MD3 CSS variables
 */

.context-menu {
  position: absolute;
}

.context-menu-items {
  min-height: 0;
}

.status {
  margin-right: 8px;
}

.port {
  margin-left: 8px;
}
