@if (node) {
  <div class="context-menu" [style.left]="leftPosition" [style.top]="topPosition">
    <span [matMenuTriggerFor]="selectInterfaceMenu"></span>
    <mat-menu [style.min-height]="0" #selectInterfaceMenu="matMenu" class="context-menu-items">
      @for (port of ports; track port.name) {
        <button mat-menu-item (click)="chooseInterface(port)" [disabled]="!port.available">
          @if (port.available) {
            <svg width="10" height="10">
              <rect class="status" x="0" y="0" width="10" height="10" fill="green"></rect>
            </svg>
          }
          @if (!port.available) {
            <svg width="10" height="10">
              <rect class="status" x="0" y="0" width="10" height="10" fill="red"></rect>
            </svg>
          }
          <!-- <mat-icon>add_circle_outline</mat-icon> -->
          <span class="port">{{ port.name }}</span>
        </button>
      }
    </mat-menu>
  </div>
}