.permission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px;
  margin-top: 10px;
  align-items: center;
}

.action-button-bar {
  display: flex;
  flex-direction: row;
}

.methods {
  display: flex;
  flex-direction: row;
  border: 1px solid;
}

.permission-input {
  width: 300px;
}

.button-bar > div > button {
  padding: unset !important;
}

