<h1 mat-dialog-title>Configurator for ATM switch {{ name }}</h1>

<div class="modal-form-container">
  <div class="content">
    <div class="default-content">
      <mat-card>
        <form [formGroup]="nameForm">
          <mat-form-field class="form-field">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
        </form>

        <form [formGroup]="nameForm">
          <mat-checkbox formControlName="useVpiOnly"> Use VPI only (VP tunnel) </mat-checkbox>
        </form>

        <div class="mapping-inputs-row">
          <form [formGroup]="inputForm">
            <mat-form-field class="form-field">
              <mat-label>Source Port</mat-label>
              <input matInput type="number" min="0" formControlName="sourcePort" />
            </mat-form-field>
          </form>
          <form [formGroup]="abstractForm">
            <mat-form-field class="form-field">
              <mat-label>Source VPI</mat-label>
              <input matInput type="number" min="1" formControlName="sourceVpi" />
            </mat-form-field>
          </form>
          <form [formGroup]="inputForm">
            <mat-form-field class="form-field">
              <mat-label>Source VCI</mat-label>
              <input matInput type="number" min="1" formControlName="sourceVci" />
            </mat-form-field>
          </form>
        </div>

        <div class="mapping-inputs-row">
          <form [formGroup]="inputForm">
            <mat-form-field class="form-field">
              <mat-label>Destination Port</mat-label>
              <input matInput type="number" min="0" formControlName="destinationPort" />
            </mat-form-field>
          </form>
          <form [formGroup]="abstractForm">
            <mat-form-field class="form-field">
              <mat-label>Destination VPI</mat-label>
              <input matInput type="number" min="1" formControlName="destinationVpi" />
            </mat-form-field>
          </form>
          <form [formGroup]="inputForm">
            <mat-form-field class="form-field">
              <mat-label>Destination VCI</mat-label>
              <input matInput type="number" min="1" formControlName="destinationVci" />
            </mat-form-field>
          </form>
        </div>

        <button mat-button class="form-field" (click)="add()">Add</button>

        @if (nodeMappingsDataSource.length) {
        <table mat-table [dataSource]="nodeMappingsDataSource">
          <ng-container matColumnDef="portIn">
            <th mat-header-cell *matHeaderCellDef>Port : VPI : VCI</th>
            <td mat-cell *matCellDef="let element">{{ element.portIn }}</td>
          </ng-container>

          <ng-container matColumnDef="portOut">
            <th mat-header-cell *matHeaderCellDef>Port : VPI : VCI</th>
            <td mat-cell *matCellDef="let element">{{ element.portOut }}</td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;">Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="delete(element)" class="delete-btn">
              <mat-icon>delete</mat-icon>
            </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        }
      </mat-card>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" color="accent">Cancel</button>
  <button mat-button (click)="onSaveClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
