.row {
    width: 100%;
    margin-left: 0px;
}

.select {
    width: 100%;
}

th {
    border: 0px!important;
}

th.mat-header-cell {
    padding-bottom: 15px;
}

td.mat-cell {
    padding-top: 15px;
}
