<svg
  #svg
  class="map"
  preserveAspectRatio="none"
>
  <filter id="grayscale">
    <feColorMatrix id="feGrayscale" type="saturate" values="0"/>
  </filter>
</svg>

<app-drawing-adding [svg]="svg"></app-drawing-adding>
<app-drawing-resizing></app-drawing-resizing>
<app-selection-control></app-selection-control>
<app-selection-select></app-selection-select>
<app-temporary-text-element #temporaryTextElement [svg]="svg"></app-temporary-text-element>
<app-draggable-selection [svg]="svg"></app-draggable-selection>
