<h1 mat-dialog-title>Configurator for node {{ name }}</h1>

<div class="modal-form-container">
  <div class="content">
    <div class="default-content">
      <mat-card class="matCard">
        @if (name) {
        <mat-tab-group>
          <mat-tab label="General settings">
            <form [formGroup]="generalSettingsForm">
              <mat-form-field class="form-field">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" />
              </mat-form-field>

              <mat-form-field class="form-field tags-field">
                <mat-label>Tags</mat-label>
                <mat-chip-grid #chipList>
                  @for (tag of node?.tags; track tag) {
                  <mat-chip (removed)="removeTag(tag)">
                    {{ tag }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  }
                </mat-chip-grid>
                <input
                  matInput
                  placeholder="Add tags"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addTag($event)"
                />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Start command</mat-label>
                <input matInput formControlName="startCommand" type="text" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Adapters</mat-label>
                <input formControlName="adapter" matInput type="number" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Base MAC</mat-label>
                <input matInput formControlName="mac_address" type="text" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Maximum memory</mat-label>
                <input formControlName="memory" matInput type="number" min="0" />
                <span matSuffix>MB</span>
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Maximum CPUs</mat-label>
                <input formControlName="cpus" matInput type="number" min="0" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Console type</mat-label>
                <mat-select formControlName="console_type">
                  @for (type of consoleTypes; track type) {
                  <mat-option [value]="type">
                    {{ type }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Auxiliary console type</mat-label>
                <mat-select formControlName="aux_type">
                  @for (type of auxConsoleTypes; track type) {
                  <mat-option [value]="type">
                    {{ type }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-checkbox formControlName="console_auto_start"> Auto start console </mat-checkbox>

              <mat-form-field class="form-field">
                <mat-label>VNC console resolution</mat-label>
                <mat-select formControlName="console_resolution">
                  @for (resolution of consoleResolutions; track resolution) {
                  <mat-option [value]="resolution">
                    {{ resolution }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>HTTP port in the container</mat-label>
                <input formControlName="consoleHttpPort" matInput type="number" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>HTTP path</mat-label>
                <input matInput formControlName="consoleHttpPath" type="text" />
              </mat-form-field>

              <button mat-button class="form-field" (click)="editNetworkConfiguration()">
                Edit network configuration
              </button>
            </form>
          </mat-tab>

          <mat-tab label="General settings">
            <h6>Environment</h6>
          </mat-tab>

          <mat-tab label="Advanced">
            <form [formGroup]="generalSettingsForm">
              <h6>Extra hosts</h6>
              <mat-form-field class="form-field">
                <mat-label>Extra hosts</mat-label>
                <textarea matInput formControlName="extra_hosts"></textarea>
              </mat-form-field>

              <h6>Additional volumes</h6>
              <mat-form-field class="form-field">
                <mat-label>Additional volumes</mat-label>
                <textarea matInput formControlName="extra_volumes"></textarea>
              </mat-form-field>
            </form>
          </mat-tab>

          <mat-tab label="Usage">
            <form [formGroup]="generalSettingsForm">
              <mat-form-field class="form-field">
                <mat-label>Usage</mat-label>
                <textarea matInput formControlName="usage"></textarea>
              </mat-form-field>
            </form>
          </mat-tab>
        </mat-tab-group>
        }
      </mat-card>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" color="accent">Cancel</button>
  <button mat-button (click)="onSaveClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
