<h1 mat-dialog-title>Configurator for node {{ name }}</h1>

<div class="modal-form-container">
  <div class="content">
    <div class="default-content">
      <mat-card class="matCard">
        @if (name) {
        <mat-tab-group>
          <mat-tab label="General settings">
            <br />
            <form [formGroup]="generalSettingsForm">
              <mat-form-field class="form-field">
                <input matInput formControlName="name" type="text" placeholder="Name" />
              </mat-form-field>

              <mat-form-field class="form-field tags-field">
                <mat-label>Tags</mat-label>
                <mat-chip-grid #chipList>
                  @for (tag of node?.tags; track tag) {
                  <mat-chip (removed)="removeTag(tag)">
                    {{ tag }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  }
                  <input
                    matInput
                    placeholder="Add tags"
                    [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event)"
                  />
                </mat-chip-grid>
              </mat-form-field>

              <mat-form-field class="form-field">
                <input matInput formControlName="startCommand" type="text" placeholder="Start command" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <input formControlName="adapter" matInput type="number" placeholder="Adapters" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <input matInput formControlName="mac_address" type="text" placeholder="Base MAC" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <input formControlName="memory" matInput type="number" min="0" placeholder="Maximum memory" />
                <span matSuffix>MB</span>
              </mat-form-field>

              <mat-form-field class="form-field">
                <input formControlName="cpus" matInput type="number" min="0" placeholder="Maximum CPUs" />
              </mat-form-field>

              <!--              <button mat-button class="form-field" (click)="configureCustomAdapters()">-->
              <!--                  Configure custom adapters-->
              <!--              </button>-->

              <mat-form-field class="select">
                <mat-select
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Console type"
                  [(ngModel)]="node.console_type"
                >
                  @for (type of consoleTypes; track type) {
                  <mat-option [value]="type">
                    {{ type }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-form-field class="select">
                <mat-select
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="Auxiliary console type"
                  [(ngModel)]="node.aux_type"
                >
                  @for (type of auxConsoleTypes; track type) {
                  <mat-option [value]="type">
                    {{ type }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <mat-checkbox [ngModelOptions]="{ standalone: true }" [(ngModel)]="node.console_auto_start">
                Auto start console
              </mat-checkbox>

              <mat-form-field class="form-field">
                <mat-select
                  [ngModelOptions]="{ standalone: true }"
                  placeholder="VNC console resolution"
                  [(ngModel)]="node.properties.console_resolution"
                >
                  @for (resolution of consoleResolutions; track resolution) {
                  <mat-option [value]="resolution">
                    {{ resolution }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-field">
                <input
                  formControlName="consoleHttpPort"
                  matInput
                  type="number"
                  placeholder="HTTP port in the container"
                />
              </mat-form-field>

              <mat-form-field class="form-field">
                <input matInput formControlName="consoleHttpPath" type="text" placeholder="HTTP path" />
              </mat-form-field>

              <button mat-button class="form-field" (click)="editNetworkConfiguration()">
                Edit network configuration
              </button>
            </form>
            <h6>Environment</h6>
            <mat-form-field class="form-field">
              <textarea matInput type="text" [(ngModel)]="node.properties.environment"></textarea>
            </mat-form-field>
          </mat-tab>

          <mat-tab label="Advanced">
            <h6>Extra hosts</h6>
            <mat-form-field class="form-field">
              <textarea matInput type="text" [(ngModel)]="node.properties.extra_hosts"></textarea></mat-form-field
            ><br />

            <h6>Additional volumes</h6>
            <mat-form-field class="form-field">
              <textarea matInput type="text" [(ngModel)]="node.properties.extra_volumes"></textarea>
            </mat-form-field>
          </mat-tab>

          <mat-tab label="Usage">
            <mat-form-field class="form-field">
              <textarea matInput type="text" [(ngModel)]="node.properties.usage"></textarea>
            </mat-form-field>
          </mat-tab>
        </mat-tab-group>
        }
      </mat-card>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" color="accent">Cancel</button>
  <button mat-button (click)="onSaveClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
