<h1 mat-dialog-title>Link Style Editor</h1>

<div class="modal-form-container">
  <form [formGroup]="formGroup">
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Color"
        formControlName="color" 
        type="color"
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <input 
        matInput 
        formControlName="width" 
        placeholder="Width" 
        type="number" />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Line style</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of borderTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Link type</mat-label>
      <mat-select formControlName="linkType">
        <mat-option *ngFor="let linkType of linkTypes" [value]="linkType">{{ linkType }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="form-field bezier-curviness-field" *ngIf="isCurvinessSelected()">
      <input
        matInput
        formControlName="bezierCurviness"
        placeholder="Curviness"
        type="number"
        [min]="curvinessMin"
        [max]="curvinessMax"
        [step]="curvinessStep"
      />
    </mat-form-field>

    <mat-form-field class="form-field flowchart-roundness-field" *ngIf="isFlowchartSelected()">
      <input
        matInput
        formControlName="flowchartRoundness"
        placeholder="Round"
        type="number"
        [min]="flowchartRoundnessMin"
        [max]="flowchartRoundnessMax"
        [step]="flowchartRoundnessStep"
      />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="accent">Cancel</button>
  <button mat-button (click)="onYesClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
