<div class="title">
  <h3>Add Role To group: {{data.group.name}}</h3>
</div>
<div class="filter">
  <mat-form-field class="input-field">
    <mat-label>Search user </mat-label>
    <input matInput  type="text" [(ngModel)]="searchText" (keydown)="onSearch()">
  </mat-form-field>
</div>

@for (role of displayedRoles | async; track role.name) {
  <div class="userList">
    <div>{{role.name}}</div>
    @if (!loading) {
      <mat-icon (click)="addRole(role)">add</mat-icon>
    }
    @if (loading) {
      <mat-spinner></mat-spinner>
    }
  </div>
}
