<h1 mat-dialog-title>Style editor</h1>

<div class="modal-form-container">
  <form [formGroup]="formGroup">
    @if (element.fill !== undefined) {
    <mat-form-field class="form-field">
      <mat-label>Fill color</mat-label>
      <input
        matInput
        [ngModelOptions]="{ standalone: true }"
        type="color"
        [(ngModel)]="element.fill"
      />
    </mat-form-field>
    }

    <mat-form-field class="form-field">
      <mat-label>Border color</mat-label>
      <input
        matInput
        [ngModelOptions]="{ standalone: true }"
        type="color"
        [(ngModel)]="element.stroke"
      />
    </mat-form-field>

    <mat-form-field class="form-field">
      <mat-label>Border width</mat-label>
      <input matInput formControlName="borderWidth" type="number" min="0" max="100" />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Border style</mat-label>
      <mat-select
        [ngModelOptions]="{ standalone: true }"
        [(ngModel)]="element.stroke_dasharray"
      >
        @for (type of borderTypes; track type.value) {
        <mat-option [value]="type.value"> {{ type.name }} </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (element.width !== undefined) {
    <mat-form-field class="form-field">
      <mat-label>Width</mat-label>
      <input
        matInput
        [ngModelOptions]="{ standalone: true }"
        min="0"
        type="number"
        [(ngModel)]="element.width"
      />
    </mat-form-field>
    } @if (element.height !== undefined) {
    <mat-form-field class="form-field">
      <mat-label>Height</mat-label>
      <input
        matInput
        [ngModelOptions]="{ standalone: true }"
        min="0"
        type="number"
        [(ngModel)]="element.height"
      />
    </mat-form-field>
    } @if (element.rx !== undefined) {
    <mat-form-field class="form-field">
      <mat-label>Corner radius</mat-label>
      <input
        matInput
        [ngModelOptions]="{ standalone: true }"
        type="number"
        min="0"
        max="100"
        [(ngModel)]="element.rx"
      />
    </mat-form-field>
    }

    <mat-form-field class="form-field">
      <mat-label>Rotation</mat-label>
      <input matInput formControlName="rotation" type="number" />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()" color="accent">Cancel</button>
  <button mat-button (click)="onYesClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
