.item {
    display: flex;
    height: 25px;
}

.item-name {
    width: 30%;
}

.item-value {
    width: 70%;
}

.input-color {
    padding: 0px;
    border-width: 0px;
    width: 70%;
    background-color: transparent;
    outline: none;
}

input:focus {
    outline: none;
}
