<div [matTooltip]="getToolTip()"
     matTooltipClass="permission-tooltip"
     class="box" [ngClass]="{allow: permission.action === 'ALLOW', left: side === 'LEFT'}">
  <button *ngIf="side === 'RIGHT'" mat-button (click)="onClick()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <div class="content">
    <div class="center">{{permission.methods.join(",")}}</div>
    <div class="center">{{permission.path}}</div>
  </div>
  <button *ngIf="side === 'LEFT'" mat-button (click)="onClick()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
