<h1 mat-dialog-title>Packet capture</h1>

<div class="modal-form-container">
    <form [formGroup]="inputForm">
        <mat-form-field class="input-field">
            <mat-select 
                placeholder="Link type"
                formControlName="linkType"
                ngDefaultControl>
                <mat-option *ngFor="let type of linkTypes" [value]="type[1]">
                    {{type[0]}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="input-field">
            <input 
                placeholder="File name"
                formControlName="fileName" 
                matInput type="text">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" color="accent">Cancel</button>
    <button mat-button (click)="onYesClick()" tabindex="2" mat-raised-button color="primary">Ok</button>
</div>
