.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-height: 250px!important;
}

.chips-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
