<h1 mat-dialog-title>{{node.name}}</h1>

<div class="modal-form-container">
    <mat-tab-group>
        <mat-tab label="General information">
            <div class='textBox'>
                <div *ngFor="let info of infoList">
                    {{info}}
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Command line">
            <div class="textBox">
                {{commandLine}}
            </div>
        </mat-tab>
    </mat-tab-group>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()" color="accent">Close</button>
</div>
