<div class="compute-selector" [style.left.px]="selectorX()" [style.top.px]="selectorY()" #selectorContainer tabindex="0">
  <div class="compute-selector__list">
    @for (compute of computes(); track compute.compute_id) {
    <button
      class="compute-selector__item"
      (click)="selectCompute(compute.compute_id)"
      mat-button
    >
      <span class="compute-selector__item-name">{{ getComputeDisplayName(compute) }}</span>
      @if (compute.connected) {
      <mat-icon class="compute-selector__status compute-selector__status--connected">check_circle</mat-icon>
      } @else {
      <mat-icon class="compute-selector__status compute-selector__status--disconnected">cancel</mat-icon>
      }
    </button>
    }
  </div>
</div>
