<div class="compute-selector" [style.left.px]="selectorX()" [style.top.px]="selectorY()" #selectorContainer tabindex="0">
  <div class="compute-selector__list">
    @for (compute of computes(); track compute.compute_id; let i = $index) {
    <button
      class="compute-selector__item"
      [class.compute-selector__item--even]="i % 2 === 1"
      (click)="selectCompute(compute.compute_id)"
      mat-button
    >
      <div class="compute-selector__item-main">
        <span class="compute-selector__item-name">{{ getComputeDisplayName(compute) }}</span>
        @if (compute.connected) {
        <mat-icon class="compute-selector__status compute-selector__status--connected">check_circle</mat-icon>
        } @else {
        <mat-icon class="compute-selector__status compute-selector__status--disconnected">cancel</mat-icon>
        }
      </div>
      <div class="compute-selector__item-info">
        <span class="compute-selector__info-item">
          <span class="compute-selector__label compute-selector__label--cpu">CPU:</span>
          <span [class]="getUsageColorClass(compute, 'cpu')">{{ getCpuInfo(compute) }}</span>
        </span>
        <span class="compute-selector__info-item">
          <span class="compute-selector__label compute-selector__label--mem">MEM:</span>
          <span [class]="getUsageColorClass(compute, 'mem')">{{ getMemoryInfo(compute) }}</span>
        </span>
        <span class="compute-selector__info-item">
          <span class="compute-selector__label compute-selector__label--disk">DISK:</span>
          <span [class]="getUsageColorClass(compute, 'disk')">{{ getDiskInfo(compute) }}</span>
        </span>
      </div>
    </button>
    }
  </div>
</div>
