<button
    matTooltip="Add a note"
    mat-icon-button
    class="menu-button"
    (click)="addDrawing('text')">
    <mat-icon [ngClass]="{unmarkedLight: !drawTools.isTextChosen && isLightThemeEnabled, marked: drawTools.isTextChosen}">create</mat-icon>
</button>
<input
    type="file"
    accept=".svg, .bmp, .jpeg, .jpg, .gif, .png"
    class="non-visible"
    #file
    (change)="uploadImageFile($event)"/>
<button
    matTooltip="Insert a picture"
    mat-icon-button
    class="menu-button"
    (click)="file.click()">
    <mat-icon>image</mat-icon>
</button>
<button
    matTooltip="Draw a rectangle"
    mat-icon-button
    class="menu-button"
    (click)="addDrawing('rectangle')">
    <mat-icon [ngClass]="{unmarkedLight: !drawTools.isRectangleChosen && isLightThemeEnabled, marked: drawTools.isRectangleChosen}">crop_3_2</mat-icon>
</button>
<button
    matTooltip="Draw an ellipse"
    mat-icon-button
    class="menu-button"
    (click)="addDrawing('ellipse')">
    <mat-icon [ngClass]="{unmarkedLight: !drawTools.isEllipseChosen && isLightThemeEnabled, marked: drawTools.isEllipseChosen}">panorama_fish_eye</mat-icon>
</button>
<button *ngIf="!isLightThemeEnabled"
    matTooltip="Draw a line" 
    mat-icon-button class="menu-button" 
    (click)="addDrawing('line')">
    <svg height="40" width="40">
    <line
        [ngClass]="{ selected: drawTools.isLineChosen }"
        x1="30"
        y1="10"
        x2="10"
        y2="30"
        style="stroke:white;stroke-width:2"/>
    </svg>
</button>
<button *ngIf="isLightThemeEnabled"
    matTooltip="Draw a line" 
    mat-icon-button class="menu-button" 
    (click)="addDrawing('line')">
    <svg height="40" width="40">
    <line
        [ngClass]="{ selected: drawTools.isLineChosen }"
        x1="30"
        y1="10"
        x2="10"
        y2="30"
        style="stroke:black;stroke-width:2"/>
    </svg>
</button>
<button
    matTooltip="Lock or unlock all items"
    mat-icon-button
    class="menu-button"
    (click)="changeLockValue()">
    <mat-icon [ngClass]="{unmarkedLight: !isLocked && isLightThemeEnabled, marked: isLocked}">lock</mat-icon>
</button>
<button
    matTooltip="Take a screenshot"
    mat-icon-button
    class="menu-button"
    (click)="takeScreenshot()"
    >
    <mat-icon [ngClass]="{unmarkedLight: !isLocked && isLightThemeEnabled}">photo_camera</mat-icon>
</button>
<app-drawing-added
  [server]="server"
  [project]="project"
  [selectedDrawing]="selectedDrawing"
  (drawingSaved)="onDrawingSaved()">
</app-drawing-added>

<div id="crowbar-workspace">
</div>
