.menu-button {
    outline: 0 !important;
    transition: 0.5s;
    margin-bottom: 16px;
    width: 40px;
    margin-right: 12px !important;
    margin-left: 12px !important;
    background: #263238;
    padding: 0;
    border: none;
    background-color: transparent;
}

mat-divider.divider {
    height: 40px;
    margin-left: 1px;
    margin-right: 7px;
    width: 10px;
    color: gray;
}

.non-visible {
    display: none;
}
