<div class="cloud-nodes-add">
  <header class="cloud-nodes-add__header">
    @if (controller) {
    <button class="cloud-nodes-add__back-btn" (click)="goBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    }
    <h1 class="cloud-nodes-add__title">New cloud node template</h1>
  </header>

  <main class="cloud-nodes-add__content">
    <section class="cloud-nodes-add__form-card">
      <mat-radio-group class="cloud-nodes-add__radio-group">
        <mat-radio-button
          class="cloud-nodes-add__radio"
          value="1"
          (click)="setControllerType('local')"
          [checked]="true"
        >
          Run the cloud node locally
        </mat-radio-button>
      </mat-radio-group>

      <form [formGroup]="formGroup" class="cloud-nodes-add__form">
        <mat-form-field appearance="fill" class="cloud-nodes-add__field">
          <mat-label>Template name</mat-label>
          <input formControlName="templateName" matInput type="text" placeholder="Template name" />
        </mat-form-field>
      </form>
    </section>

    <div class="cloud-nodes-add__actions">
      <button mat-button class="cloud-nodes-add__cancel-btn" (click)="goBack()">Cancel</button>
      <button mat-raised-button color="primary" class="cloud-nodes-add__submit-btn" (click)="addTemplate()">
        Add template
      </button>
    </div>
  </main>
</div>
