<div *ngIf="project" class="project-map">
  <app-map [nodes]="nodes" [links]="links" [drawings]="drawings"></app-map>

  <div class="project-toolbar">
    <mat-toolbar color="primary" class="project-toolbar">

      <button mat-icon-button [matMenuTriggerFor]="mainMenu">
        <mat-icon svgIcon="gns3"></mat-icon>
      </button>

      <mat-menu #mainMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/server', server.id, 'projects']">
          <mat-icon>work</mat-icon>
          <span>Projects</span>
        </button>
        <button mat-menu-item [routerLink]="['/servers']">
          <mat-icon>developer_board</mat-icon>
          <span>Servers</span>
        </button>
      </mat-menu>

      <mat-toolbar-row>
        <button mat-icon-button (click)="createSnapshotModal()">
          <mat-icon>snooze</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <app-appliance [server]="server"></app-appliance>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>

  <app-node-context-menu [server]="server"></app-node-context-menu>

</div>

