/*html {*/
  /*position: static;*/
  /*height: 100%;*/
/*}*/

/*body {*/
  /*height: 100%;*/
  /*margin: 0;*/
  /*margin-bottom: 0 !important;*/
/*}*/

/*app-root, app-project-map, .project-map, app-map, svg {*/
  /*height: 100%;*/
/*}*/

g.node:hover {
  background-color: #0097a7;
}

.project-map {
  background-color: #F0F0F0;
}

.project-toolbar {
  width: 70px;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loading-spinner {
  display: flex; justify-content: center; align-items: center;
}
