/*html {*/
  /*position: static;*/
  /*height: 100%;*/
/*}*/

/*body {*/
  /*height: 100%;*/
  /*margin: 0;*/
  /*margin-bottom: 0 !important;*/
/*}*/

/*app-root, app-project-map, .project-map, app-map, svg {*/
  /*height: 100%;*/
/*}*/

g.node:hover {
  background-color: #0097a7;
}

.project-map {
  background-color: #F0F0F0;
}

.project-toolbar {
  width: 70px;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loading-spinner {
  position: absolute;
  top: 50%;
  width: 100px;
  margin-left:-50px;
  margin-top: -50px;
  left: 50%;
}

g.node text {
  font-family: Roboto !important;
}


svg image:hover, svg image.chosen {
  filter: grayscale(100%);
}

.selection-line-tool .selection {
  fill: #7ccbe1;
  stroke:  #66aec2 ;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 1;
  stroke-dasharray: 5, 5;
}


g.node text,
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Disable outline after button click */
.project-toolbar button {
  outline: 0;
  border: none;
  -moz-outline-style: none
}
