<h1 mat-dialog-title>Configurator for cloud node {{ name }}</h1>

<div class="modal-form-container">
  <div class="content">
    <div class="default-content">
      <mat-card class="matCard">
        @if (name) {
        <mat-tab-group>
          <mat-tab label="Ethernet interfaces">
            @for (port of portsMappingEthernet; track port.name) {
            <div class="form-field">
              <div class="form-field">{{ port.name }}</div>
              <br /><br />
            </div>
            }
            <mat-form-field class="select">
              <mat-select
                placeholder="Ethernet interface"
                [value]="ethernetInterface()"
                (selectionChange)="ethernetInterface.set($event.value)"
              >
                @for (type of ethernetInterfaces; track type) {
                <mat-option [value]="type">
                  {{ type }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <button mat-button class="form-field" (click)="onAddEthernetInterface()">Add</button>
          </mat-tab>

          <mat-tab label="TAP interfaces">
            @for (port of portsMappingTap; track port.name) {
            <div class="form-field">
              <div class="form-field">{{ port.name }}</div>
              <br /><br />
            </div>
            }
            <mat-form-field class="form-field">
              <input matInput type="text" [value]="tapInterface()" (input)="tapInterface.set($event.target.value)" placeholder="TAP interface" />
            </mat-form-field>
            <button mat-button class="form-field" (click)="onAddTapInterface()">Add</button>
          </mat-tab>

          <mat-tab label="UDP tunnels">
            <app-udp-tunnels #udpTunnels [dataSourceUdp]="portsMappingUdp"></app-udp-tunnels>
          </mat-tab>

          <mat-tab label="Miscellaneous">
            <form [formGroup]="generalSettingsForm">
              <mat-form-field class="form-field">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name" />
              </mat-form-field>

              <mat-form-field class="form-field tags-field">
                <mat-label>Tags</mat-label>
                <mat-chip-grid #chipList>
                  @for (tag of node?.tags; track tag) {
                  <mat-chip (removed)="removeTag(tag)">
                    {{ tag }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  }
                </mat-chip-grid>
                <input
                  matInput
                  placeholder="Add tags"
                  [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addTag($event)"
                />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Console type</mat-label>
                <mat-select formControlName="console_type">
                  @for (type of consoleTypes; track type) {
                  <mat-option [value]="type">
                    {{ type }}
                  </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Console host</mat-label>
                <input matInput type="text" formControlName="remote_console_host" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Console port</mat-label>
                <input matInput type="text" formControlName="remote_console_port" />
              </mat-form-field>

              <mat-form-field class="form-field">
                <mat-label>Console HTTP path</mat-label>
                <input matInput type="text" formControlName="remote_console_http_path" />
              </mat-form-field>
            </form>
          </mat-tab>

          <mat-tab label="Usage">
            <form [formGroup]="generalSettingsForm">
              <mat-form-field class="form-field">
                <mat-label>Usage</mat-label>
                <textarea matInput formControlName="usage"></textarea>
              </mat-form-field>
            </form>
          </mat-tab>
        </mat-tab-group>
        }
      </mat-card>
      <div></div>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" color="accent">Cancel</button>
    <button mat-button (click)="onSaveClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
  </div>
</div>
