.row {
    width: 100%;
    margin-left: 0px;
}

.select {
    width: 100%;
}

.top-button {
    height: 36px;
    margin-top: 22px
}

.shadowed {
    display: none;
    transition: 0.25s;
}

.symbolSelectionButton {
    width: 100%;
}
