<div class="builtin-prefs">
  <header class="builtin-prefs__header">
    <button
      class="builtin-prefs__back-btn"
      [routerLink]="'/controller/' + controllerId() + '/preferences'"
      mat-icon-button
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="builtin-prefs__title">Built-in templates</h1>
  </header>

  <main class="builtin-prefs__content">
    <nav class="builtin-prefs__nav-list">
      <a
        mat-list-item
        [routerLink]="'/controller/' + controllerId() + '/preferences/builtin/ethernet-hubs'"
        class="builtin-prefs__nav-item"
      >
        <mat-icon class="builtin-prefs__nav-icon">device_hub</mat-icon>
        Ethernet hub templates
      </a>
      <a
        mat-list-item
        [routerLink]="'/controller/' + controllerId() + '/preferences/builtin/ethernet-switches'"
        class="builtin-prefs__nav-item"
      >
        <mat-icon class="builtin-prefs__nav-icon">settings_ethernet</mat-icon>
        Ethernet switch templates
      </a>
      <a
        mat-list-item
        [routerLink]="'/controller/' + controllerId() + '/preferences/builtin/cloud-nodes'"
        class="builtin-prefs__nav-item"
      >
        <mat-icon class="builtin-prefs__nav-icon">cloud</mat-icon>
        Cloud node templates
      </a>
    </nav>
  </main>
</div>
