<button
    matTooltip="Console connect to all nodes"
    matTooltipClass="custom-tooltip"
    mat-icon-button
    (click)="startConsoleForAllNodes()"
    class="menu-button"
    >
    <mat-icon>web_asset</mat-icon>
</button>
<button
    matTooltip="Start/Resume all nodes"
    matTooltipClass="custom-tooltip"
    mat-icon-button
    (click)="startNodes()"
    class="menu-button"
    >
    <mat-icon>play_arrow</mat-icon>
</button>
<button
    matTooltip="Suspend all nodes"
    matTooltipClass="custom-tooltip"
    mat-icon-button
    (click)="suspendNodes()"
    class="menu-button"
    >
    <mat-icon>pause</mat-icon>
</button>
<button
    matTooltip="Stop all nodes"
    matTooltipClass="custom-tooltip"
    mat-icon-button
    (click)="stopNodes()"
    class="menu-button"
    >
    <mat-icon>stop</mat-icon>
</button>
<button
    matTooltip="Reload all nodes"
    matTooltipClass="custom-tooltip"
    mat-icon-button
    (click)="reloadNodes()"
    class="menu-button"
    >
    <mat-icon>replay</mat-icon>
</button>
