.menu-button {
    outline: 0 !important;
    transition: 0.5s;
    margin-bottom: 16px;
    width: 40px;
    margin-right: 12px !important;
    margin-left: 12px !important;
    background: transparent;
    padding: 0;
    border: none;
    background-color: transparent;
}

.marked {
    color: #0097a7!important;
}
