<button
    matTooltip="Console connect to all nodes"
    mat-icon-button
    (click)="startConsoleForAllNodes()"
    class="menu-button"
    >
    <mat-icon class="unmarked">web_asset</mat-icon>
</button>
<button
    matTooltip="Start/Resume all nodes"
    mat-icon-button
    (click)="startNodes()"
    class="menu-button"
    >
    <mat-icon class="unmarked">play_arrow</mat-icon>
</button>
<button
    matTooltip="Suspend all nodes"
    mat-icon-button
    (click)="suspendNodes()"
    class="menu-button"
    >
    <mat-icon class="unmarked">pause</mat-icon>
</button>
<button
    matTooltip="Stop all nodes"
    mat-icon-button
    (click)="stopNodes()"
    class="menu-button"
    >
    <mat-icon class="unmarked">stop</mat-icon>
</button>
<button
    matTooltip="Reload all nodes"
    mat-icon-button
    (click)="reloadNodes()"
    class="menu-button"
    >
    <mat-icon class="unmarked">replay</mat-icon>
</button>
