<div class="projects">
  <div class="projects__content">
    <!-- Header with Title and Buttons -->
    <div class="projects__header">
      <h1 class="projects__title">Projects</h1>
      <div class="projects__buttons-bar">
        <button mat-raised-button class="projects__button" color="primary" (click)="addBlankProject()">
          <mat-icon>add</mat-icon>
          Add Blank Project
        </button>
        <button mat-raised-button class="projects__button" color="primary" (click)="importProject()">
          <mat-icon>cloud_upload</mat-icon>
          Import Project
        </button>
      </div>
    </div>

    <!-- Search -->
    <form class="projects__search-form">
      <mat-form-field class="projects__search">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          placeholder="Search projects"
          [value]="searchText()"
          (input)="searchText.set($event.target.value)"
        />
      </mat-form-field>
    </form>

    <!-- Projects Table -->
    <div class="projects__table-container">
      <mat-table #table [dataSource]="dataSource | projectsfilter : searchText()" matSort>
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? selectAllImages() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <a [routerLink]="['/controller', controller.id, 'project', row.project_id]" class="projects__link">
              {{ row.name }}
            </a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="projects__cell--actions"> Actions </mat-header-cell>
          <mat-cell class="projects__cell--actions" *matCellDef="let row">
            <div class="projects__actions-cell">
              @if (row.status === 'closed') {
              <button mat-icon-button (click)="open(row)" matTooltip="Open project">
                <mat-icon aria-label="Open project">play_arrow</mat-icon>
              </button>
              } @if (row.status === 'opened') {
              <button mat-icon-button (click)="close(row)" matTooltip="Close project">
                <mat-icon aria-label="Close project">pause</mat-icon>
              </button>
              }
              <button mat-icon-button (click)="editProject(row)" matTooltip="Rename/Edit project">
                <mat-icon aria-label="Rename project">edit</mat-icon>
              </button>
              @if (row.status === 'closed') {
              <button mat-icon-button (click)="duplicate(row)" matTooltip="Duplicate project">
                <mat-icon aria-label="Save project as">content_copy</mat-icon>
              </button>
              }
              <button mat-icon-button (click)="exportSelectProject(row)" matTooltip="Export project">
                <mat-icon aria-label="Export project">file_download</mat-icon>
              </button>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete">
          <mat-header-cell *matHeaderCellDef class="projects__cell--actions">
            @if (selection.selected.length > 1) {
            <button mat-button (click)="deleteAllFiles()" color="warn" matTooltip="Delete all selected">
              <mat-icon>delete</mat-icon>
            </button>
            }
          </mat-header-cell>
          <mat-cell *matCellDef="let row" class="projects__cell--actions">
            @if (row.status === 'closed' && selection.isSelected(row)) {
            <button mat-icon-button (click)="delete(row)" color="warn" matTooltip="Delete project">
              <mat-icon aria-label="Delete project">delete</mat-icon>
            </button>
            }
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>

    <!-- Footer -->
    <footer class="projects__footer">
      <div class="projects__footer-content">
        <div class="projects__footer-info">GNS3 Web-UI &copy;2018-{{ currentYear }} v{{ version }}</div>
        <div class="projects__footer-social">
          <a
            class="projects__footer-social-link"
            href="https://github.com/GNS3"
            target="_blank"
            rel="noopener noreferrer"
            matTooltip="GitHub"
          >
            <mat-icon class="projects__footer-icon" svgIcon="github"></mat-icon>
          </a>
          <a
            class="projects__footer-social-link"
            href="https://www.gns3.com/"
            target="_blank"
            rel="noopener noreferrer"
            matTooltip="Website"
          >
            @if (!isLightThemeEnabled()) {
            <mat-icon class="projects__footer-icon" svgIcon="gns3"></mat-icon>
            } @if (isLightThemeEnabled()) {
            <mat-icon class="projects__footer-icon" svgIcon="gns3black"></mat-icon>
            }
          </a>
        </div>
      </div>
    </footer>
  </div>
</div>
