<div class="content" [ngClass]="{ shadowed: isConfiguratorOpened || isSymbolSelectionOpened }">
  <div class="default-header">
    <div class="row">
      <div class="col col-md-1">
        <button class="top-button" *ngIf="controller" class="cancel-button" mat-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="col col-md-11">
        <h1 class="col">VirtualBox VM template configuration</h1>
      </div>
    </div>
  </div>
  <div class="default-content" *ngIf="virtualBoxTemplate">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> General settings </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="generalSettingsForm">
          <mat-form-field class="form-field">
            <input
              matInput
              formControlName="templateName"
              type="text"
              
              placeholder="Template name"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              formControlName="defaultName"
              type="text"
              
              placeholder="Default name format"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              formControlName="symbol"
              type="text"
              
              placeholder="Symbol"
            />
          </mat-form-field>
          <button mat-button class="symbolSelectionButton" (click)="chooseSymbol()">Choose symbol</button><br /><br />
          <mat-form-field class="form-field tags-field">
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipList>
              @for (tag of virtualBoxTemplate?.tags; track tag) {
                <mat-chip (removed)="removeTag(tag)">
                  {{ tag }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              }
              <input matInput placeholder="Add tags"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addTag($event)" />
            </mat-chip-grid>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-select
              [ngModelOptions]="{ standalone: true }"
              placeholder="Category"

            >
              @for (category of categories; track $index) {
                <mat-option [value]="category[1]">
                  {{ category[0] }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="select">
            <mat-select
              [ngModelOptions]="{ standalone: true }"
              placeholder="Console type"

            >
              @for (type of consoleTypes; track type) {
                <mat-option [value]="type">
                  {{ type }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-checkbox [ngModelOptions]="{ standalone: true }" >
            Auto start console
          </mat-checkbox>
          <mat-form-field class="form-field">
            <input
              matInput
              formControlName="ram"
              type="number"
              
              placeholder="RAM"
            />
            <span matSuffix>MB</span>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-select
              [ngModelOptions]="{ standalone: true }"
              placeholder="On close"

            >
              @for (option of onCloseOptions; track option[1]) {
                <mat-option [value]="option[1]">
                  {{ option[0] }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
        <mat-checkbox > Start VM in headless mode </mat-checkbox><br />
        <mat-checkbox >
          Use as a linked base VM (experimental)
        </mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Network </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="networkForm">
          <mat-form-field class="form-field">
            <input
              formControlName="adapters"
              matInput
              type="number"
              
              placeholder="Adapters"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              [ngModelOptions]="{ standalone: true }"
              matInput
              type="text"
              
              placeholder="First port name"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              formControlName="nameFormat"
              matInput
              type="text"
              
              placeholder="Name format"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              formControlName="size"
              matInput
              type="number"
              
              placeholder="Segment size"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-select
              [ngModelOptions]="{ standalone: true }"
              placeholder="Type"

            >
              @for (type of networkTypes; track type) {
                <mat-option [value]="type">
                  {{ type }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </form>
        <button mat-button class="configButton" (click)="setCustomAdaptersConfiguratorState(true)">
          Configure custom adapters</button
        ><br />
        <mat-checkbox >
          Allow GNS3 to use any configured VirtualBox adapter
        </mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Usage </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="form-field">
          <textarea matInput type="text" ></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="buttons-bar">
      <button mat-button class="cancel-button" (click)="goBack()">Cancel</button>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
<app-custom-adapters
  [hidden]="!(isConfiguratorOpened && virtualBoxTemplate)"
  #customAdaptersConfigurator
  [networkTypes]="networkTypes"
  [displayedColumns]="displayedColumns"
  (closeConfiguratorEmitter)="setCustomAdaptersConfiguratorState($event)"
  (saveConfigurationEmitter)="saveCustomAdapters($event)"
></app-custom-adapters>
<app-symbols-menu
  *ngIf="isSymbolSelectionOpened && virtualBoxTemplate"
  [controller]="controller"
  [symbol]="virtualBoxTemplate.symbol"
  (symbolChangedEmitter)="symbolChanged($event)"
></app-symbols-menu>
