<svg:g
  class="drawing"
  [attr.transform]="transformation"
  [app-draggable]="drawing"
  (dragging)="OnDragging($event)"
  (dragged)="OnDragged($event)" 
>
  <svg:g 
    *ngIf="is(drawing.element, 'ellipse')"
    [app-ellipse]="drawing.element"
  />

  <svg:g 
    *ngIf="is(drawing.element, 'image')"
    [app-image]="drawing.element"
  />

  <svg:g 
    *ngIf="is(drawing.element, 'line')"
    [app-line]="drawing.element"
  />

  <svg:g 
    *ngIf="is(drawing.element, 'rect')"
    [app-rect]="drawing.element"
  />

  <svg:g 
    *ngIf="is(drawing.element, 'text')"
    [app-text]="drawing.element"
  />
</svg:g>