<div class="modal-header">
  <h4 class="modal-title">Add server</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #f="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" [(ngModel)]="server.name" required>
    </div>
    <div class="form-group">
      <label for="ip">IP</label>
      <input type="text" class="form-control" id="ip" name="ip" placeholder="Enter IP" [(ngModel)]="server.ip" required>
    </div>
    <div class="form-group">
      <label for="port">Port</label>
      <input type="number" class="form-control" id="port" name="port" placeholder="Enter Port" [(ngModel)]="server.port" required>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>

  <button type="button" class="btn btn-success" (click)="add()" [disabled]="!f.valid">Add</button>
</div>
