<div class="vmware-add">
  <header class="vmware-add__header">
    @if (controller) {
      <button
        class="vmware-add__back-btn"
        (click)="goBack()"
        mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <h1 class="vmware-add__title">New VMware VM template</h1>
  </header>

  @if (vmwareTemplate) {
    <main class="vmware-add__content">
      <section class="vmware-add__form-card">
        <form [formGroup]="templateNameForm" class="vmware-add__form">
          <mat-form-field appearance="fill" class="vmware-add__field">
            <mat-label>VM list</mat-label>
            <mat-select placeholder="VM list" formControlName="templateName">
              @for (vm of virtualMachines; track vm) {
                <mat-option [value]="vm">
                  {{ vm.vmname }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-checkbox [ngModelOptions]="{ standalone: true }" [(ngModel)]="vmwareTemplate.linked_clone">
            Use as a linked base VM (experimental)
          </mat-checkbox>
        </form>
      </section>

      <div class="vmware-add__actions">
        <button mat-button class="vmware-add__cancel-btn" (click)="goBack()">Cancel</button>
        <button mat-raised-button color="primary" class="vmware-add__submit-btn" (click)="addTemplate()">
          Add template
        </button>
      </div>
    </main>
  }
</div>
