<div class="change-hostname">
  <h1 class="change-hostname__title">Change hostname for node {{ name }}</h1>

  <form [formGroup]="inputForm" class="change-hostname__form">
    <mat-form-field appearance="fill" class="change-hostname__field">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" placeholder="Name" />
    </mat-form-field>
  </form>

  <div class="change-hostname__actions">
    <button mat-button (click)="onCancelClick()" color="accent">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSaveClick()">Apply</button>
  </div>
</div>