.path {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

mat-select {
  width: 150px;
}

.edit-area {
  border: 1px solid;
}

.command-button {
  margin-left: 5px;
}

.path-edit-line {
  display: flex;
  flex-direction: row;
}
