<div class="content">
    <div class="default-header">
        <div class="row">
            <h1 class="col">Preferences</h1>
        </div>
    </div>
    <div class="default-content">
        <div class="example-container mat-elevation-z8">
            <mat-nav-list>
                <mat-list-item>
                    <button mat-button routerLink="/server/{{serverId}}/preferences/general">
                        General
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="/server/{{serverId}}/preferences/qemu/templates">
                        QEMU
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="/server/{{serverId}}/preferences/virtualbox">
                        VirtualBox
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button mat-button routerLink="/server/{{serverId}}/preferences/vmware">
                        VMware
                    </button>
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
</div>
