.listcontainer {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.top-button {
    height: 36px;
    margin-top: 22px
}

.choose-symbol-button {
    height: 36px;
    margin-top: 22px;
}

.cancel-button {
    height: 36px;
    margin-top: 22px;
    margin-right: 10px;
}

.form-field {
    width: 100%;
}

.select {
    width: 100%;
}

.shadowed {
    display: none;
    transition: 0.25s;
}

.nonvisible {
    display: none;
}

.configButton {
    width: 100%;
}

.configHideButton {
    margin-left: 80%;
    width: 20%;
    margin-bottom: 10px;
}

.symbolSelectionButton {
    width: 100%;
}

.list-item {
    display: flex;
}

.template-name {
    width: 95%;
}

.delete-button {
    width: 10%;
    outline: none;
}

.menu-button {
    width: 5%;
    outline: none!important;
}

th {
    border: 0px!important;
}

th.mat-header-cell {
    padding-bottom: 15px;
}

td.mat-cell {
    padding-top: 15px;
}

.radio-button {
    width: 50%;
    padding-top: 20px;
}

.radio-group {
    margin-bottom: 20px;
}

.file-button {
    width: 18%;
}

.file-name-form-field {
    padding-left: 2%;
    width: 80%;
}
