.non-visible {
    display: none;
}

.file-button{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0px;
}

.file-name-form {
    float: right;
    width: 100%;
}

.file-name-form-field {
    width: 90%; 
}

.empty {
    width: 100%; 
}

.delete-button {
    background: transparent; 
    border: none; 
    outline: 0;
    width: 10%;
}

.delete-icon {
    vertical-align: "middle";
}

.result-message-box {
    margin-top: 10px;
    text-align: center;
}

.progress-bar {
    background-color : #0097a7;
}
