<div class="content" [ngClass]="{ shadowed: isSymbolSelectionOpened }">
    <div class="default-header">
        <div class="row">
            <h1 class="col">VPCS device configuration</h1>
        </div>
    </div>
    <div class="default-content" *ngIf="vpcsTemplate">
        <form [formGroup]="inputForm">
            <mat-form-field class="row">
                <input 
                    matInput type="text" 
                    [(ngModel)]="vpcsTemplate.name" 
                    formControlName="templateName"
                    placeholder="Template name">
            </mat-form-field>
            <mat-form-field class="row">
                <input 
                    matInput type="text" 
                    [(ngModel)]="vpcsTemplate.default_name_format" 
                    formControlName="defaultName"
                    placeholder="Default name format">
            </mat-form-field>
            <mat-form-field class="row">
                <input 
                    matInput type="text" 
                    [(ngModel)]="vpcsTemplate.base_script_file" 
                    formControlName="scriptFile"
                    placeholder="Base script file">
            </mat-form-field>
            <mat-form-field class="row">
                <input 
                    matInput type="text" 
                    [(ngModel)]="vpcsTemplate.symbol" 
                    formControlName="symbol"
                    placeholder="Symbol">
            </mat-form-field>
            <button mat-raised-button class="symbolSelectionButton" (click)="chooseSymbol()">Choose symbol</button><br/><br/>
            <mat-form-field class="row">
                <mat-select 
                    placeholder="Category" 
                    [ngModelOptions]="{standalone: true}" 
                    [(ngModel)]="vpcsTemplate.category">
                    <mat-option *ngFor="let category of categories" [value]="category[1]">
                        {{category[0]}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="select">
                <mat-select 
                    placeholder="Console type" 
                    [ngModelOptions]="{standalone: true}" 
                    [(ngModel)]="vpcsTemplate.console_type">
                    <mat-option *ngFor="let type of consoleTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-checkbox 
                [ngModelOptions]="{standalone: true}" 
                [(ngModel)]="vpcsTemplate.console_auto_start">
                Auto start console
            </mat-checkbox>
        </form>
        <div class="buttons-bar">
            <button mat-raised-button color="primary" (click)="onSave()">Save</button><br/>
        </div>
    </div>
</div>

<div class="content" class="configurator" *ngIf="isSymbolSelectionOpened">
    <div class="default-header">
        <div class="row">
            <h1 class="col">Symbol selection</h1>
            <button class="top-button" class="cancel-button" (click)="cancelChooseSymbol()" mat-raised-button color="primary">Cancel</button>
            <button class="top-button" class="choose-symbol-button" (click)="chooseSymbol()" mat-raised-button color="primary">Choose symbol</button>
        </div>
    </div>
    <div class="default-content">
        <app-symbols [server]="server" [symbol]="vpcsTemplate.symbol" (symbolChanged)="symbolChanged($event)"></app-symbols>
    </div>
</div>
