<h2 mat-dialog-title>Logged in user info</h2>

<mat-dialog-content>
  @if (user(); as userData) {
  <div class="logged-user__info">
    <div class="logged-user__info-row">
      <span class="logged-user__info-label">Username:</span>
      <span class="logged-user__info-value">{{ userData.username }}</span>
    </div>
    <div class="logged-user__info-row">
      <span class="logged-user__info-label">Full name:</span>
      <span class="logged-user__info-value">{{ userData.full_name }}</span>
    </div>
    <div class="logged-user__info-row">
      <span class="logged-user__info-label">Email:</span>
      <span class="logged-user__info-value">{{ userData.email }}</span>
    </div>
  </div>
  }
</mat-dialog-content>

<mat-dialog-actions class="logged-user__actions" align="end">
  <button mat-raised-button color="primary" (click)="changePassword()">
    Change password
  </button>
  <button mat-raised-button color="primary" (click)="copyToken()">
    Copy access token
  </button>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
