<div class="ethernet-switch-add">
  <header class="ethernet-switch-add__header">
    @if (controller) {
    <button class="ethernet-switch-add__back-btn" (click)="goBack()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    }
    <h1 class="ethernet-switch-add__title">New Ethernet switch template</h1>
  </header>

  <main class="ethernet-switch-add__content">
    <section class="ethernet-switch-add__form-card">
      <mat-radio-group class="ethernet-switch-add__radio-group">
        <mat-radio-button
          class="ethernet-switch-add__radio"
          value="1"
          (click)="setControllerType('local')"
          [checked]="true"
        >
          Run the Ethernet switch locally
        </mat-radio-button>
      </mat-radio-group>

      <form [formGroup]="formGroup" class="ethernet-switch-add__form">
        <mat-form-field appearance="fill" class="ethernet-switch-add__field">
          <mat-label>Template name</mat-label>
          <input formControlName="templateName" matInput type="text" placeholder="Template name" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="ethernet-switch-add__field">
          <mat-label>Number of ports</mat-label>
          <input formControlName="numberOfPorts" matInput type="number" min="0" placeholder="Number of ports" />
        </mat-form-field>
      </form>
    </section>

    <div class="ethernet-switch-add__actions">
      <button mat-button class="ethernet-switch-add__cancel-btn" (click)="goBack()">Cancel</button>
      <button mat-raised-button color="primary" class="ethernet-switch-add__submit-btn" (click)="addTemplate()">
        Add template
      </button>
    </div>
  </main>
</div>
