<h1 mat-dialog-title>Text editor</h1>

<div class="modal-form-container">
  <mat-form-field class="form-field">
    <input
      matInput
      placeholder="Fill color"
      type="color"
      (ngModelChange)="changeTextColor($event)"
      [(ngModel)]="element.fill"
    />
  </mat-form-field>

  <form [formGroup]="formGroup">
    <mat-form-field class="form-field">
      <input formControlName="rotation" matInput placeholder="Rotation" type="text" />
    </mat-form-field>
  </form>

  <textarea #textArea id="textArea" class="text" [(ngModel)]="element.text" [readonly]="!isTextEditable"></textarea>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="accent">Cancel</button>
  <button mat-button (click)="onYesClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
