<div class="ios-templates">
  <header class="ios-templates__header">
    @if (controller) {
    <button
      class="ios-templates__back-btn"
      [routerLink]="'/controller/' + controller.id + '/preferences'"
      mat-icon-button
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    }
    <h1 class="ios-templates__title">IOS router templates</h1>
    @if (controller) {
    <button
      class="ios-templates__add-btn"
      matTooltip="Add IOS router template"
      matTooltipClass="custom-tooltip"
      [routerLink]="'/controller/' + controller.id + '/preferences/dynamips/templates/addtemplate'"
      mat-icon-button
    >
      <mat-icon>add_circle_outline</mat-icon>
    </button>
    }
  </header>

  <main class="ios-templates__content">
    @if (!iosTemplates.length) {
    <app-empty-templates-list></app-empty-templates-list>
    } @if (iosTemplates.length) {
    <nav class="ios-templates__list">
      @for (template of iosTemplates; track template.template_id) {
      <div class="ios-templates__list-item" [routerLink]="template.template_id">
        <mat-icon class="ios-templates__list-icon">router</mat-icon>
        <span class="ios-templates__list-name">{{ template.name }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu" class="ios-templates__menu-btn" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="deleteTemplate(template)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button mat-menu-item (click)="copyTemplate(template)">
            <mat-icon>content_copy</mat-icon>
            <span>Copy</span>
          </button>
          <a mat-menu-item [routerLink]="template.template_id">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </a>
        </mat-menu>
      </div>
      }
    </nav>
    }
  </main>
</div>
<app-delete-template #deleteComponent [controller]="controller" (deleteEvent)="onDeleteEvent()"></app-delete-template>
