@if (toolCall()?.function?.name) {
<div
  class="gns3-tool-call-display__tool-call"
  (click)="onViewDetails()"
  [title]="getStatusText()"
>
  <mat-icon class="gns3-tool-call-display__tool-icon">build</mat-icon>
  <span class="gns3-tool-call-display__tool-name">{{ toolCall()?.function?.name }}</span>
  <span class="gns3-tool-call-display__tool-status" [class.gns3-tool-call-display__status--receiving]="isReceiving" [class.gns3-tool-call-display__status--executing]="isExecuting()">
    @if (isReceiving || isExecuting()) {
    <mat-spinner diameter="12"></mat-spinner>
    } @else {
    <span class="gns3-tool-call-display__status-text">{{ getStatusText() }}</span>
    }
  </span>
  <mat-icon class="gns3-tool-call-display__expand-icon">open_in_new</mat-icon>
</div>
}
