table {
  width: 100%;
}

.form-field {
  width: 100%;
}

.configButton {
  width: 100%;
}

.select {
  width: 100%;
}

.default-content {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-color: darkgrey #263238;
  scrollbar-width: thin;
}

.file-button {
  width: 18%;
}

.create-button {
  width: 100%;
}

.file-name-form-field {
  padding-left: 2%;
  width: 80%;
}

.nonvisible {
  display: none;
}

mat-radio-button {
  margin-right: 10px;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #263238;
}

.tags-field {
  ::ng-deep .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-infix {
        width: 100% !important;
        min-width: 400px;
        display: flex !important;
        flex-wrap: wrap !important;
      }
    }
  }

  ::ng-deep .mat-chip-list {
    flex-wrap: wrap !important;
    width: 100%;
  }

  ::ng-deep input.mat-input-element {
    min-width: 200px !important;
    flex: 1 1 200px !important;
  }
}
