.form-field {
    width: 100%;
}

.configButton {
    width: 100%;
}

.select {
    width: 100%;
}

.default-content {
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-color: darkgrey #263238;
    scrollbar-width: thin;
}

.file-button {
    width: 18%;
}

.file-name-form-field {
    padding-left: 2%;
    width: 80%;
}

.nonvisible {
    display: none;
}

::-webkit-scrollbar {
    width: 0.5em;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid #263238;
}
