<div class="content" *ngIf="isReady; else loading">
  <div class="add">
    <app-add-permission-line
      [controller]="controller"
      (addPermissionEvent)="refresh()"></app-add-permission-line>
  </div>
  <div class="permission-content default-content">
    <input type="text"
             matInput
             name="typeInput"
             placeholder="Search by name"
             [(ngModel)]="searchPermissions"
             [matAutocomplete]="auto"
             class="permission-filter"
             (input)="changeAutocomplete($event.target.value)">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | filterComplete: searchPermissions" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>

    <div *ngFor="let permission of permissions | permissionsFilter: searchPermissions?.id | paginator: pageEvent">
      <app-permission-add-edit-line
              [permission]="permission"
              [controller]="controller"
        (update)="refresh()"></app-permission-add-edit-line>
    </div>
    <mat-paginator [length]="permissions.length" (page)="pageEvent = $event"
                   [pageSizeOptions]="[5, 20, 50, 100]"></mat-paginator>
  </div>
</div>
<ng-template #loading>
  <div>
    <mat-spinner class="loader"></mat-spinner>
  </div>
</ng-template>
