.permission-content {
  max-width: 1400px;
}

.add-button {
  height: 40px;
  width: 160px;
  margin: 20px;
}

.loader {
  position: absolute;
  margin: auto;
  height: 175px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 175px;
}
