table {
  width: 100%;
}

.full-width {
  width: 940px;
  margin-left: -470px;
  left: 50%;
}

.add-ressourcePool-button {
  height: 40px;
  width: 160px;
  margin: 20px;
}

.loader {
  position: absolute;
  margin: auto;
  height: 175px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 175px;
}

.delete-btn {
  transition: transform 0.2s ease;
}

.delete-btn:hover mat-icon {
  transform: scale(1.35);
}

.table-link {
  transition: transform 0.2s ease;
  display: inline-block;
  transform-origin: left center;
  padding: 2px 4px;
  margin: -2px -4px;
}

.table-link:hover {
  transform: scale(1.15);
}
