<div class="content">
  <div class="default-header">
    <div class="row align-items-center">
      <a
        mat-icon-button
        matTooltip="Back to user management"
        matTooltipClass="custom-tooltip"
        [routerLink]="['/server', server.id, 'management', 'groups']">
        <mat-icon aria-label="Back to user management">keyboard_arrow_left</mat-icon>
      </a>
      <h1 class="col">Groups {{group.name}} details</h1>
    </div>
    <mat-tab-group>
      <mat-tab label="Details" class="details">
        <div>
          <div>
            <mat-form-field>
              <mat-label>Group name:</mat-label>
              <input matInput type="text" [ngModel]="group.name">
            </mat-form-field>
          </div>

          <div>
            <mat-checkbox [checked]="group.is_builtin" disabled>Is build in</mat-checkbox>
          </div>
          <div mat-dialog-actions class="button-div">
            <button mat-button (click)="onUpdate()" tabindex="2" mat-raised-button color="primary"
                    [disabled]="!editGroupForm.valid">
              Update Group
            </button>
          </div>
        </div>
        <div>
          <div>Creation date:   {{group.created_at}}</div>
          <div>Last update Date:   {{group.updated_at}}</div>
          <div>UUID:   {{group.user_group_id}}</div>
        </div>
      </mat-tab>
      <mat-tab label="Members">
        <div class="members">
          <div>
            <mat-icon (click)="openAddUserDialog()" class="clickable">person_add</mat-icon>
          </div>
          <div class="search">
            <mat-form-field>
              <input matInput placeholder="filter members" [(ngModel)]="searchMembers"/>
            </mat-form-field>
          </div>
          <div *ngFor="let user of members | membersFilter: searchMembers | paginator: pageEvent">
            <a href="/server/{{server.id}}/management/users/{{user.user_id}}">
              <div>{{user.username}}</div>
            </a>
            <mat-icon class="clickable" (click)="openRemoveUserDialog(user)">delete</mat-icon>
          </div>
          <mat-paginator [length]="members.length" (page)="pageEvent = $event"
                         [pageSizeOptions]="[5, 20, 50, 100]"></mat-paginator>
        </div>
      </mat-tab>
      <mat-tab label="Roles">
        <div><button mat-button (click)="openAddRoleDialog()" ><mat-icon>group_add</mat-icon></button></div>
        <div *ngFor="let role of roles" class="roles">
          <div>{{role.name}}</div>
          <div>
            <button mat-button (click)="openRemoveRoleDialog(role)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
