.main {
  display: flex;
  justify-content: space-around;
}

.details {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.members {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.members > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.clickable {
  cursor: pointer;
}

.members .title {
  font-size: 2em;
  text-decoration: underline;
}

.details > div {
  margin-bottom: 20px;
}

.button-div {
  float: right;
}

.members > .search {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100%;
}
mat-form-field {
  width: 100%;
}
