.row {
    width: 100%;
    margin-left: 0px;
}

.select {
    width: 100%;
}

.nonvisible {
    display: none;
}

.file-button {
    width: 18%;
}

.file-name-form-field {
    padding-right: 2%;
    width: 80%;
}
