.row {
    width: 100%;
    margin-left: 0px;
}

.select {
    width: 100%;
}

.nonvisible {
    display: none;
}

.file-button {
    width: 18%;
}

.file-name-form-field {
    padding-right: 2%;
    width: 80%;
}

.configButton {
    width: 100%;
    margin-bottom: 10px;
}

.shadowed {
    opacity: 0.4;
    margin-right: 80%;
    transition: 0.15s;
}

.configurator {
    position: absolute;
    top: 60px;
    left: 50%;
    min-width: 300px;
}
