@if (export_project_form) {
<form
  class="export-portable-project__form"
  [formGroup]="export_project_form"
  (ngSubmit)="export_project_form.valid && exportPortableProject()"
>
  <h1 mat-dialog-title>
    <span>Export project</span>
    <button mat-icon-button type="button" class="export-portable-project__close-btn" (click)="dialogRef.close()">
      <mat-icon>close</mat-icon>
    </button>
  </h1>

  <div mat-dialog-content>
    <div class="export-portable-project__settings">
      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Compression</mat-label>
        <mat-select formControlName="compression" (selectionChange)="selectCompression($event)" required>
          @for (compressionValue of compression_methods; track compressionValue?.name) {
          <mat-option [value]="compressionValue">{{ compressionValue?.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Compression level</mat-label>
        <mat-select formControlName="compression_level">
          @for (compressionLevel of compression_filter_value; track compressionLevel) {
          <mat-option [value]="compressionLevel">{{ compressionLevel }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="export-portable-project__options">
      <mat-checkbox formControlName="include_base_image">Include base images</mat-checkbox>
      <mat-checkbox formControlName="include_snapshots">Include snapshots</mat-checkbox>
      <mat-checkbox formControlName="reset_mac_address">Reset MAC addresses</mat-checkbox>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="isExport()" cdkFocusInitial>Export</button>
  </div>
</form>
}
