.mat-dialog-title {
    margin: 0 0 0px;
    display: block;
}
.mat-dialog-container {
    padding: 14px 14px 5px 14px !important;
}
.checkBox-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 35px;
  }
  
  .checkBox-margin {
    margin: 0 10px;
  }