<div class="content">
  <div class="default-header">
    <div class="row">
      <h1 class="col">New VPCS node template</h1>
    </div>
  </div>
  <div class="default-content">
    <mat-card class="matCard">
      <form [formGroup]="templateNameForm">
        <mat-form-field class="form-field">
          <input matInput formControlName="templateName" type="text" placeholder="Template name" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput formControlName="ipAddress" type="text" placeholder="IP address" />
        </mat-form-field>
      </form>
    </mat-card>
    <div class="buttons-bar">
      <button mat-button class="cancel-button" (click)="goBack()">Cancel</button>
      <button mat-raised-button color="primary" (click)="addTemplate()">Add template</button>
    </div>
  </div>
</div>
