.full-width {
  width: 100%;
  margin-top: 20px;
}
a {
  color: var(--mat-app-on-surface-color);
  opacity: 0.9;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
