<div class="content">
    <div class="default-header">
        <div class="row">
            <h1 class="col">VPCS node templates</h1>
            <button *ngIf="server" class="top-button" routerLink="/server/{{server.id}}/preferences/vpcs/addtemplate" mat-raised-button color="primary">Add VPCS template</button>
        </div>
    </div>
    <div class="default-content">
        <div class="container mat-elevation-z8">
            <mat-nav-list *ngIf="server">
                <mat-list-item *ngFor='let template of vpcsTemplates' routerLink="{{template.template_id}}">
                    {{template.name}}
                </mat-list-item>
            </mat-nav-list>
        </div>
    </div>
</div>
