<div class="content" [ngClass]="{ shadowed: isSymbolSelectionOpened || isConfiguratorOpened }">
  <div class="default-header">
    <div class="row">
      <div class="col col-md-1">
        <button class="top-button" *ngIf="controller" class="cancel-button" mat-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="col col-md-11">
      <h1 class="col">VMware VM template configuration</h1>
      </div>
    </div>
  </div>
  <div class="default-content" *ngIf="vmwareTemplate">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> General settings </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="generalSettingsForm">
          <mat-form-field class="form-field">
            <input
              matInput
              type="text"
              
              formControlName="templateName"
              placeholder="Template name"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              type="text"
              
              formControlName="defaultName"
              placeholder="Default name format"
            />
          </mat-form-field>
          <mat-form-field class="form-field">
            <input
              matInput
              type="text"
              
              formControlName="symbol"
              placeholder="Symbol"
            />
          </mat-form-field>
          <button mat-button class="symbolSelectionButton" (click)="chooseSymbol()">Choose symbol</button><br /><br />
          <mat-form-field class="form-field tags-field">
            <mat-label>Tags</mat-label>
            <mat-chip-grid #chipList>
              @for (tag of vmwareTemplate?.tags; track tag) {
                <mat-chip (removed)="removeTag(tag)">
                  {{ tag }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              }
              <input matInput placeholder="Add tags"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="addTag($event)" />
            </mat-chip-grid>
          </mat-form-field>
          <mat-form-field class="form-field">
            <mat-select
              placeholder="Category"
              [ngModelOptions]="{ standalone: true }"

            >
              @for (category of categories; track category[1]) {
                <mat-option [value]="category[1]">
                  {{ category[0] }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="select">
            <mat-select
              placeholder="Console type"
              [ngModelOptions]="{ standalone: true }"

            >
              @for (type of consoleTypes; track type) {
                <mat-option [value]="type">
                  {{ type }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-checkbox [ngModelOptions]="{ standalone: true }" >
            Auto start console
          </mat-checkbox>
          <mat-form-field class="form-field">
            <mat-select
              placeholder="On close"
              [ngModelOptions]="{ standalone: true }"

            >
              @for (option of onCloseOptions; track option[1]) {
                <mat-option [value]="option[1]">
                  {{ option[0] }}
                </mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-checkbox [ngModelOptions]="{ standalone: true }" >
            Start VM in headless mode </mat-checkbox
          ><br /><br />
          <mat-checkbox [ngModelOptions]="{ standalone: true }" >
            Use as a linked base VM (experimental)
          </mat-checkbox>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Network </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0"  placeholder="Adapters" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput type="text"  placeholder="First port name" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput type="text"  placeholder="Name format" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput type="number" min="0"  placeholder="Segment size" />
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-select placeholder="Type" >
            @for (type of networkTypes; track type) {
              <mat-option [value]="type">
                {{ type }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <button mat-button class="configButton" (click)="setCustomAdaptersConfiguratorState(true)">
          Configure custom adapters</button
        ><br />
        <mat-checkbox >
          Allow GNS3 to override non custom VMware adapter
        </mat-checkbox>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Usage </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="form-field">
          <textarea matInput type="text" ></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="buttons-bar">
      <button class="cancel-button" (click)="goBack()" mat-button>Cancel</button>
      <button mat-raised-button color="primary" (click)="onSave()">Save</button>
    </div>
  </div>
</div>
<app-custom-adapters
  [hidden]="!(isConfiguratorOpened && vmwareTemplate)"
  #customAdaptersConfigurator
  [networkTypes]="networkTypes"
  [displayedColumns]="displayedColumns"
  (closeConfiguratorEmitter)="setCustomAdaptersConfiguratorState($event)"
  (saveConfigurationEmitter)="saveCustomAdapters($event)"
></app-custom-adapters>
<app-symbols-menu
  *ngIf="isSymbolSelectionOpened && vmwareTemplate"
  [controller]="controller"
  [symbol]="vmwareTemplate.symbol"
  (symbolChangedEmitter)="symbolChanged($event)"
></app-symbols-menu>
