/**
 * GNS3 Change Symbol Dialog Component Styles
 */

.buttonWrapper {
  width: 85px;
  height: 85px;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  outline: none;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.button {
  background: border-box;
  border-width: 0;
  outline: none;
}

.image {
  width: 65px;
  height: 65px;
}

.imageSelected {
  margin-left: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: var(--gns3-spacing-xl);
  grid-column-gap: var(--gns3-spacing-sm);
}

.radio-selection {
  width: 90%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: var(--gns3-spacing-md);
}

.non-visible {
  display: none;
}

.example-full-width {
  width: 100%;
}
