<div
  #viewport
  class="topology-preview__viewport"
  [class.topology-preview__viewport--panel]="variant() === 'panel'"
  [class.topology-preview__viewport--light-bg]="mapBgClass()['topology-preview__viewport--light-bg']"
  [class.topology-preview__viewport--dark-bg]="mapBgClass()['topology-preview__viewport--dark-bg']"
>
  <app-d3-map
    class="topology-preview__map"
    [controller]="controller()"
    [project]="project()"
    [nodes]="nodes()"
    [links]="links()"
    [drawings]="drawings()"
    [width]="project().scene_width || 2000"
    [height]="project().scene_height || 1000"
    [show-interface-labels]="true"
    [readonly]="true"
  />
</div>
