<h1 mat-dialog-title>Edit project</h1>

<div class="modal-form-container">
  <mat-tab-group>
    <mat-tab label="General">
      <form [formGroup]="formGroup">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Project name</mat-label>
          <input matInput formControlName="projectName" placeholder="My Project" type="text" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Scene width</mat-label>
          <input matInput formControlName="width" placeholder="1000" type="number" />
          <span matTextSuffix>px</span>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Scene height</mat-label>
          <input matInput formControlName="height" placeholder="800" type="number" />
          <span matTextSuffix>px</span>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Node grid size</mat-label>
          <input matInput formControlName="nodeGridSize" placeholder="25" type="number" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Drawing grid size</mat-label>
          <input matInput formControlName="drawingGridSize" placeholder="25" type="number" />
        </mat-form-field>
      </form>

      <mat-checkbox [checked]="auto_open()" (change)="auto_open.set($event.checked)">
        Open this project in the background when GNS3 controller starts
      </mat-checkbox>

      <mat-checkbox [checked]="auto_start()" (change)="auto_start.set($event.checked)">
        Start all nodes when this project is opened
      </mat-checkbox>

      <mat-checkbox [checked]="auto_close()" (change)="auto_close.set($event.checked)">
        Leave this project running in the background after closing
      </mat-checkbox>

      <mat-checkbox [checked]="show_interface_labels()" (change)="show_interface_labels.set($event.checked)">
        Show interface labels at start
      </mat-checkbox>
    </mat-tab>

    @if (controller && project) {
    <mat-tab label="Readme">
      <app-readme-editor #editor [controller]="controller" [project]="project"></app-readme-editor>
    </mat-tab>
    }

    <mat-tab label="Global variables">
      <form [formGroup]="variableFormGroup">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="VARIABLE_NAME" type="text" />
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Value</mat-label>
          <input matInput formControlName="value" placeholder="variable_value" type="text" />
        </mat-form-field>
      </form>
      <button class="form-field" mat-button (click)="addVariable()" mat-raised-button color="primary">
        Add variable
      </button>
      <table mat-table [dataSource]="variables">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Value</th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              matTooltip="Delete variable"
              matTooltipClass="custom-tooltip"
              (click)="deleteVariable(element)"
            >
              <mat-icon aria-label="Delete adapter">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-tab>
  </mat-tab-group>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" color="accent">Cancel</button>
  <button mat-button (click)="onYesClick()" tabindex="2" mat-raised-button color="primary">Apply</button>
</div>
