/**
 * GNS3 Edit Project Dialog Component Styles
 */

table {
  width: 100%;
}

.form-field {
  width: 100%;
}

th {
  border: 0;
}

th.mat-header-cell {
  padding-bottom: var(--gns3-spacing-md);
}

td.mat-cell {
  padding-top: var(--gns3-spacing-md);
}
