app-root,
app-project-map,
.project-map,
app-map {
  width: auto;
}

svg.map {
  background-color: #f0f0f0;
}

g.node:hover {
  background-color: #0097a7;
}

.project-toolbar {
  width: 70px;
  position: fixed;
  top: 20px;
  left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#show-menu-wrapper {
  position: fixed;
  background: transparent;
  top: 20px;
  left: 92px;
  background: #263238;
  height: 72px;
  padding-top: 16px;

  .arrow-button {
    outline: 0 !important;
  }
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menu-wrapper {
  position: fixed;
  background: transparent;
  top: 20px;
  left: 92px;
  background: #263238;
  height: 72px;
  padding-top: 16px;
  padding-bottom: 16px;
  transition: 35s;
  width: 0;
  overflow: hidden;
  transition: 0.15s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .menu-button {
    outline: 0 !important;
    transition: 0.5s;
    margin-bottom: 16px;
    width: 40px;
    margin-right: 12px !important;
    margin-left: 12px !important;
    background: #263238;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  .arrow-button {
    outline: 0 !important;
    transition: 0.5s;
    margin-bottom: 16px;
  }
}

.extended {
  width: 296px !important;
  height: 100%;
  overflow: hidden;
}

@-moz-document url-prefix() {
  /** fixes gray background of drawing menu on Firefox **/
  .mat-drawer-content {
    display: inline !important;
  }
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent;
}

.project-toolbar .mat-toolbar-multiple-rows {
  width: auto !important;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
  left: 50%;
}

line.selected {
  stroke: #0097a7 !important;
}

svg.map image:hover,
svg.map image.chosen,
g.selected {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url('#grayscale'); /* Chrome doesn't support CSS filters on SVG */
}

path.selected {
  stroke: darkred;
}

.selected > .interface_label_border {
  stroke: black;
  fill: none;
}

.selection-line-tool .selection {
  fill: #7ccbe1;
  stroke: #66aec2;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 1;
  stroke-dasharray: 5, 5;
}

g.node text,
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Disable outline after button click */
.project-toolbar button {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

.options-item {
  padding-left: 15px;
  padding-right: 15px;
}

.context-menu-items .mat-menu-item {
  line-height: 24px !important;
  height: 24px !important;
  font-size: 13px !important;
  padding: 0 6px;
  outline: none !important;
}

.context-menu-items .mat-menu-item .mat-icon {
  margin-right: 3px;
}

.context-menu-items .mat-menu-item:focus {
  background: none;
}
