app-root, app-project-map, .project-map, app-map {
  width: auto;
}

svg.map {
  background-color: #F0F0F0;
}

g.node:hover {
  background-color: #0097a7;
}

.project-toolbar {
  width: 70px;
  position: fixed;
  top: 20px;
  left: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-toolbar .mat-toolbar-multiple-rows {
  width: auto !important;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  width: 100px;
  margin-left:-50px;
  margin-top: -50px;
  left: 50%;
}

/*g.node text {*/
  /*font-family: Roboto !important;*/
/*}*/


svg.map image:hover, svg.map image.chosen, g.selected {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}

path.selected {
  stroke: darkred;
}

.selected > .interface_label_border {
  stroke: black;
  fill: none;
}

.selection-line-tool .selection {
  fill: #7ccbe1;
  stroke:  #66aec2 ;
  fill-opacity: 0.3;
  stroke-opacity: 0.7;
  stroke-width: 1;
  stroke-dasharray: 5, 5;
}


g.node text,
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Disable outline after button click */
.project-toolbar button {
  outline: 0;
  border: none;
  -moz-outline-style: none
}

.options-item {
  padding-left: 15px;
  padding-right: 15px;

}

.context-menu-items .mat-menu-item {
  line-height: 24px !important;
  height: 24px !important;
  font-size: 13px !important;
  padding: 0 6px;
}

.context-menu-items .mat-menu-item .mat-icon {
  margin-right: 3px;
}
