<div *ngIf="project" class="project-map">
  <app-d3-map
    *ngIf="!settings.angular_map"
    [symbols]="symbols"
    [nodes]="nodes"
    [links]="links"
    [drawings]="drawings"
    [width]="project.scene_width"
    [height]="project.scene_height"
    [show-interface-labels]="project.show_interface_labels"
    [readonly]="inReadOnlyMode"
    (nodeDragged)="onNodeDragged($event)"
    (drawingDragged)="onDrawingDragged($event)"
    (onLinkCreated)="onLinkCreated($event)"
    (onDrawingResized)="onDrawingResized($event)"
  ></app-d3-map>

  <app-experimental-map
    *ngIf="settings.angular_map"
    [symbols]="symbols"
    [nodes]="nodes"
    [links]="links"
    [drawings]="drawings"
    [width]="project.scene_width"
    [height]="project.scene_height"
    [show-interface-labels]="project.show_interface_labels"
    [selection-tool]="tools.selection"
    [moving-tool]="tools.moving"
    [draw-link-tool]="tools.draw_link"
    [readonly]="inReadOnlyMode"
  ></app-experimental-map>

  <div class="project-toolbar">
    <mat-toolbar color="primary" class="project-toolbar">

      <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="mainMenu">
          <mat-icon svgIcon="gns3"></mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-menu #mainMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item [routerLink]="['/server', server.id, 'projects']">
          <mat-icon>work</mat-icon>
          <span>Projects</span>
        </button>
        <button mat-menu-item [routerLink]="['/servers']">
          <mat-icon>developer_board</mat-icon>
          <span>Servers</span>
        </button>
      </mat-menu>

      <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="viewMenu">
          <mat-icon>view_module</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-menu #viewMenu="matMenu" [overlapTrigger]="false">
        <div class="options-item">
          <mat-checkbox
            [ngModel]="project.show_interface_labels"
            (change)="toggleShowInterfaceLabels($event.checked)">
              Show interface labels
          </mat-checkbox>
        </div>
      </mat-menu>

      <mat-toolbar-row *ngIf="!readonly">
        <button mat-icon-button [color]="tools.draw_link ? 'primary': 'basic'" (click)="toggleDrawLineMode()">
          <mat-icon>timeline</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-icon-button [color]="tools.moving ? 'primary': 'basic'" (click)="toggleMovingMode()">
          <mat-icon>zoom_out_map</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="!readonly" >
        <app-snapshot-menu-item
          [server]="server"
          [project]="project">
        </app-snapshot-menu-item>
      </mat-toolbar-row>

      <mat-toolbar-row *ngIf="!readonly" >
        <app-template 
          [server]="server"
          (onNodeCreation)="onNodeCreation($event)"
        ></app-template>
      </mat-toolbar-row>

    </mat-toolbar>
  </div>

  <div class="draw-menu" *ngIf="!inReadOnlyMode">
    <mat-drawer-container [ngClass]="{shadow: drawTools.visibility}" class="drawer-container">
      <mat-drawer #drawer class="drawer">
        <div class="drawer-buttons">
          <button matTooltip="Add a note" mat-icon-button class="drawer-button" [color]="drawTools.isTextChosen ? 'primary': 'basic'" (click)="addDrawing('text')">
            <mat-icon>create</mat-icon>
          </button>
          <button matTooltip="Draw a rectangle" mat-icon-button class="drawer-button" [color]="drawTools.isRectangleChosen ? 'primary': 'basic'" (click)="addDrawing('rectangle')">
            <mat-icon>crop_3_2</mat-icon>
          </button>
          <button matTooltip="Draw an ellipse" mat-icon-button class="drawer-button" [color]="drawTools.isEllipseChosen ? 'primary': 'basic'" (click)="addDrawing('ellipse')">
            <mat-icon>panorama_fish_eye</mat-icon>
          </button>
          <button matTooltip="Draw line" mat-icon-button class="drawer-button" (click)="addDrawing('line')">
            <svg height="40" width="40">
              <line [ngClass]="{selected: drawTools.isLineChosen}" x1="30" y1="10" x2="10" y2="30" style="stroke:white;stroke-width:2" />
            </svg>
          </button>
          <div class="drawer-arrow-button-left">
              <button mat-icon-button (click)="drawer.toggle(); hideMenu()">
                  <mat-icon>keyboard_arrow_left</mat-icon>
              </button>
            </div>
        </div>
      </mat-drawer>
      <mat-drawer-content class="drawer-content">
        <div [ngClass]="{shadow: !drawTools.visibility}" class="drawer-arrow-button-right">
          <button mat-icon-button (click)="drawer.toggle(); showMenu()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>

  <app-node-context-menu [project]="project" [server]="server"></app-node-context-menu>
</div>

<app-progress></app-progress>

<app-project-map-shortcuts 
  *ngIf="project"
  [project]="project"
  [server]="server">
</app-project-map-shortcuts>

<app-draw-link-tool *ngIf="tools.draw_link"></app-draw-link-tool>

<app-add-drawing
  [project]="project"
  [server]="server"
  [selectedDrawing]="selectedDrawing"
  (drawingSaved)="onDrawingSaved($event)">
</app-add-drawing>

<app-drawing-dragged [server]="server"></app-drawing-dragged>
<app-drawing-resized [server]="server"></app-drawing-resized>
<app-interface-label-dragged [server]="server"></app-interface-label-dragged>
<app-link-created [server]="server" [project]="project"></app-link-created>
<app-node-dragged [server]="server"></app-node-dragged>
<app-node-label-dragged [server]="server"></app-node-label-dragged>
<app-text-edited [server]="server"></app-text-edited>
