.dialogWrapper {
    background-color: #263238;
    padding: 10px 20px;
    margin-bottom: -8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lightTheme {
    background-color: white!important;
}

.title {
    margin-right: 10px;
    margin-left: 10px;
}
