<h1 mat-dialog-title>Hide Management Link</h1>

<div mat-dialog-content class="hide-management-links-dialog">
  <mat-form-field class="search-field">
    <input matInput placeholder="Search devices" [(ngModel)]="searchText" (ngModelChange)="filterNodes()" />
  </mat-form-field>

  <mat-form-field class="devices-field">
    <mat-select placeholder="Devices" multiple [(ngModel)]="selectedNodeIds">
      <mat-option *ngFor="let node of filteredNodes" [value]="node.node_id">{{ node.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="selection-count">{{ selectedNodeIds.length }} selected</div>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()" color="accent">Cancel</button>
  <button mat-button (click)="onApplyClick()" mat-raised-button color="primary">Apply</button>
</div>
