.buttonWrapper {
    width: 85px;
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    outline: none;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.button {
    background: border-box;
    border-width: 0px;
    outline: none;
}

.buttonSelected {
    border-width: 3px;
    border-color: #0097a7;
    width: 77px;
}

.image {
    width: 65px;
    height: 65px;   
}

.imageSelected {
    margin-left: -3px;
}

.wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 3em;
    grid-column-gap: 1em;
}

.radio-selection {
    width: 90%;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.non-visible {
    display: none;
}
