body {
  background-color: #e8ecef;
}

img.logo-header {
  width: 50px;
}

a.table-link {
  color: #0097a7;
}

.snackabar-success {
  background: #0097a7 !important;
  color: white !important;
}

.snackbar-warning {
  background: rgb(197, 199, 64) !important;
  color: white !important;
}

.snackbar-error {
  background: #b00020 !important;
  color: white !important;
}

.mat-dialog-actions {
  margin-bottom: -12px !important;
}

@-moz-document url-prefix() {
  .temporaryElement {
    line-height: 1.4em;
  }
}

.full-width-field {
  width: 100%;
}

app-root {
  width: 100%;
}

mat-menu-panel {
  min-height: 0px;
}

.custom-tooltip {
  background-color: grey;
  color: #ffffff;
}
