@import '~@angular/material/theming';
@import '~material-design-icons/iconfont/material-icons.css';
@import '~typeface-roboto/index.css';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-cyan, 700, 500, 900);
$accent: mat-palette($mat-blue, A200, A100, A700);

$theme: mat-light-theme($primary, $accent);

$light-palette: mat-palette($mat-blue, 900, A100, A400);
$light-background: mat-light-theme($light-palette, $primary);

$mat-light-theme-background: (
  status-bar: black,
  app-bar: map_get($mat-blue, 900),
  background: white,
  hover: rgba(white, 0.04),
  card: white,
  dialog: white,
  disabled-button: $white-12-opacity,
  raised-button: white,
  focused-button: $white-6-opacity,
  selected-button: map_get($mat-blue, 900),
  selected-disabled-button: map_get($mat-blue, 800),
  disabled-button-toggle: black,
  unselected-chip: map_get($mat-blue, 700),
  disabled-list-option: black
);

$theme: map-merge(
  $theme,
  (
    background: $mat-light-theme-background
  )
);

@mixin mat-button-theme($theme) {
  .mat-button, .mat-icon-button, .mat-stroked-button {
    color: white;
    background: transparent;
  }
}

@include mat-core-theme($theme);
@include mat-autocomplete-theme($theme);
@include mat-button-theme($theme);
@include mat-button-toggle-theme($theme);
@include mat-card-theme($theme);
@include mat-checkbox-theme($theme);
@include mat-chips-theme($theme);
@include mat-table-theme($theme);
@include mat-datepicker-theme($theme);
@include mat-dialog-theme($theme);
@include mat-expansion-panel-theme($theme);
@include mat-form-field-theme($theme);
@include mat-grid-list-theme($theme);
@include mat-icon-theme($theme);
@include mat-input-theme($theme);
@include mat-list-theme($theme);
@include mat-menu-theme($theme);
@include mat-paginator-theme($theme);
@include mat-progress-bar-theme($theme);
@include mat-progress-spinner-theme($theme);
@include mat-radio-theme($theme);
@include mat-select-theme($theme);
@include mat-sidenav-theme($theme);
@include mat-slide-toggle-theme($theme);
@include mat-slider-theme($theme);
@include mat-stepper-theme($theme);
@include mat-tabs-theme($theme);
@include mat-toolbar-theme($light-background);
@include mat-tooltip-theme($theme);
@include mat-snack-bar-theme($theme);
