@if (project()) {
<div id="project-titlebar">
  <!-- GNS3 Menu Button -->
  <button
    matTooltip="Open menu"
    matTooltipClass="custom-tooltip"
    matTooltipPosition="left"
    mat-icon-button
    class="titlebar-button gns3-button"
    [matMenuTriggerFor]="mainMenu"
  >
    <mat-icon svgIcon="gns3"></mat-icon>
  </button>

  <div class="project-titlebar-controls">
    @if (!readonly()) {
    <div class="titlebar-button-group primary-controls">
      <!-- Add Node Button -->
      <app-template
        [controller]="controller()"
        [project]="project()"
        (onNodeCreation)="onNodeCreation.emit($event)"
      >
      </app-template>

      <!-- Add Link Button -->
      <button
        matTooltip="Add a link"
        matTooltipClass="custom-tooltip"
        matTooltipPosition="below"
        class="titlebar-button"
        mat-icon-button
        [ngClass]="{ selected: toolsDrawLink() }"
        [color]="toolsDrawLink() ? 'primary' : 'basic'"
        (click)="toggleDrawLine.emit()"
      >
        <mat-icon>timeline</mat-icon>
      </button>
    </div>
    }

    <!-- Control Buttons Group -->
    <div class="titlebar-button-group">
      <app-nodes-menu [controller]="controller()" [project]="project()"></app-nodes-menu>
      <app-context-menu [project]="project()" [controller]="controller()"></app-context-menu>
    </div>
  </div>

  <!-- Toggle Topology Summary Button -->
  <div>
    <button
      matTooltip="Toggle topology/controllers summary"
      matTooltipClass="custom-tooltip"
      matTooltipPosition="left"
      mat-icon-button
      class="titlebar-button"
      (click)="toggleTopologySummary.emit(!isTopologySummaryVisible())"
    >
      <mat-icon>toc</mat-icon>
    </button>
  </div>

  <!-- GNS3 Main Menu -->
  <mat-menu #mainMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item [routerLink]="['/controllers']">
      <mat-icon>developer_board</mat-icon>
      <span>Controllers</span>
    </button>
    <button mat-menu-item [routerLink]="['/controller', controller().id, 'projects']">
      <mat-icon>work</mat-icon>
      <span>Projects</span>
    </button>

    <button mat-menu-item [routerLink]="['/controller', controller().id, 'preferences']">
      <mat-icon>settings_applications</mat-icon>
      <span>Template preferences</span>
    </button>
    <button mat-menu-item [routerLink]="['/controller', controller().id, 'image-manager']">
      <mat-icon>collections</mat-icon>
      <span>Image manager</span>
    </button>
    <button mat-menu-item (click)="addNewTemplate()">
      <mat-icon>control_point</mat-icon>
      <span>New template</span>
    </button>
    <app-import-appliance [controller]="controller()" [project]="project()"></app-import-appliance>
    <button mat-menu-item [matMenuTriggerFor]="projectMenu">
      <mat-icon>settings</mat-icon>
      <span>Project settings</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="viewMenu">
      <mat-icon>view_module</mat-icon>
      <span>Map settings</span>
    </button>
  </mat-menu>

  <!-- Project Settings sub-menu -->
  <mat-menu #projectMenu="matMenu" [overlapTrigger]="false">
    <div>
      <button mat-menu-item (click)="addNewProject()">
        <mat-icon>add</mat-icon>
        <span>Add new blank project</span>
      </button>
      <button mat-menu-item (click)="saveProject()">
        <mat-icon>save</mat-icon>
        <span>Save project as</span>
      </button>
      <button mat-menu-item (click)="editProject()">
        <mat-icon>edit</mat-icon>
        <span>Edit project</span>
      </button>
      <button mat-menu-item (click)="exportProject()">
        <mat-icon>call_made</mat-icon>
        <span>Export project</span>
      </button>
      <button mat-menu-item (click)="importProject()">
        <mat-icon>call_received</mat-icon>
        <span>Import project</span>
      </button>
      <button mat-menu-item (click)="closeProject()">
        <mat-icon>close</mat-icon>
        <span>Close project</span>
      </button>
      <button mat-menu-item (click)="deleteProject()">
        <mat-icon>delete</mat-icon>
        <span>Delete project</span>
      </button>
    </div>
  </mat-menu>

  <!-- Map Settings sub-menu -->
  <mat-menu #viewMenu="matMenu" [overlapTrigger]="false">
    <div class="options-item">
      <mat-checkbox [ngModel]="isInterfaceLabelVisible()" (change)="toggleShowInterfaceLabels.emit($event.checked)">
        Show interface labels </mat-checkbox
      ><br />
      <mat-checkbox [ngModel]="isConsoleVisible()" (change)="toggleShowConsole.emit($event.checked)">
        Show console </mat-checkbox
      ><br />
      <mat-checkbox [ngModel]="isTopologySummaryVisible()" (change)="toggleTopologySummary.emit($event.checked)">
        Show topology/controllers summary </mat-checkbox
      ><br />
      <mat-checkbox [ngModel]="notificationsVisibility()" (change)="toggleNotifications.emit($event.checked)">
        Show notifications </mat-checkbox
      ><br />
      <mat-checkbox [ngModel]="layersVisibility()" (change)="toggleLayers.emit($event.checked)"> Show layers </mat-checkbox
      ><br />
      <mat-checkbox [ngModel]="gridVisibility()" (change)="toggleGrid.emit($event.checked)"> Show grid </mat-checkbox><br />
      <mat-checkbox [ngModel]="project().snap_to_grid" (change)="toggleSnapToGrid.emit($event.checked)">
        Snap to grid </mat-checkbox
      ><br />
      <mat-checkbox [ngModel]="symbolScaling()" (change)="toggleSymbolScaling.emit($event.checked)">
        Scale symbols </mat-checkbox
      ><br />
    </div>
  </mat-menu>
</div>
}
