<button
  class="template__add-btn"
  matTooltip="Add a node"
  matTooltipClass="custom-tooltip"
  mat-icon-button
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>

@if (showComputeSelector()) {
<div class="template__selector-backdrop" (click)="onComputeSelectorCancelled()"></div>
} @if (showComputeSelector()) {
<app-compute-selector
  [computes]="availableComputes()"
  [x]="lastPageX()"
  [y]="lastPageY()"
  (computeSelected)="onComputeSelected($event)"
/>
} @for (creatingNode of creatingNodes().values(); track creatingNode.id) { @let position =
getCreatingNodeScreenPosition(creatingNode);
<div
  class="template__ghost-icon"
  [style.left.px]="position.x"
  [style.top.px]="position.y"
>
  <div class="template__ghost-name">{{ creatingNode.template.name }}</div>

  <img
    class="template__ghost-icon-img"
    [src]="getImageSourceForTemplate(creatingNode.template)"
    [class.template__ghost-icon-img--error]="creatingNode.status === 'error'"
    draggable="false"
  />

  @if (creatingNode.status === 'error') {
  <div class="template__ghost-icon-status">
    <mat-icon class="template__status-icon--error">error</mat-icon>
  </div>
  }
</div>
}
