<div
    *ngIf="isDraggingEnabled"
    (document:mousemove)="dragWidget($event)"
    (document:mouseup)="toggleDragging(false)">   
</div>
<div 
    class="consoleWrapper"
    [ngClass]="{lightTheme: isLightThemeEnabled}"
    (mousedown)="toggleDragging(true)"
    [ngStyle]="style" 
    mwlResizable
    [validateResize]="validate"
    [resizeEdges]="{ right: true, left: true, bottom: true, top: true }"
    [enableGhostResize]="true"
    (resizeStart)="toggleDragging(false)"
    (resizeEnd)="onResizeEnd($event)">
    <div class="consoleHeader">
        <div class="consoleFiltering">
            <button [ngClass]="{lightTheme: isLightThemeEnabled}" class="filterButton" [matMenuTriggerFor]="filterMenu">
                Apply filter
            </button>
            <mat-menu #filterMenu="matMenu" xPosition="after">
                <button (click)="applyFilter('all')" mat-menu-item>all</button>
                <button (click)="applyFilter('errors')" mat-menu-item>errors</button>
                <button (click)="applyFilter('warnings')" mat-menu-item>warnings</button>
                <button (click)="applyFilter('info')" mat-menu-item>info</button>
                <button (click)="applyFilter('map updates')" mat-menu-item>map updates</button>
                <button (click)="applyFilter('server requests')" mat-menu-item>server requests</button>
            </mat-menu>
        </div>

        <div class="consoleMenu">
            <mat-icon (click)="close()" class="closeButton">close</mat-icon>
        </div>
    </div>

    <div [ngClass]="{lightTheme: isLightThemeEnabled}" #console class="console" [ngStyle]="styleInside">
        <span class="console-item" *ngFor="let event of filteredEvents">
            {{event.message}} <br/>
        </span>
    </div>

    <div [ngClass]="{lightTheme: isLightThemeEnabled}" class="consoleInput">
        <mat-icon class="inputIcon">keyboard_arrow_right</mat-icon>
        <input
            [ngClass]="{lightTheme: isLightThemeEnabled}"
            class="commandLine"
            autofocus
            (keydown)="onKeyDown($event)"
            type="text"
            [(ngModel)]="command"/>
    </div>
</div>
