<div class="content">
  <div class="default-header">
    <div class="row">
      <div class="col col-md-1">
        <button class="top-button" *ngIf="controller" class="cancel-button" mat-button (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div class="col col-md-11">
        <h1 class="col">Copy QEMU VM template</h1>
      </div>
    </div>
  </div>
  <div class="default-content">
    <mat-card class="matCard">
      <form [formGroup]="nameForm">
        <mat-form-field class="form-field">
          <input matInput type="text" [(ngModel)]="templateName" placeholder="Name" formControlName="templateName" />
        </mat-form-field>
      </form>
    </mat-card>
    <div class="buttons-bar">
      <button mat-button class="cancel-button" (click)="goBack()">Cancel</button>
      <button mat-raised-button color="primary" (click)="addTemplate()">Copy template</button>
    </div>
  </div>
</div>
