<div class="privileges">
  <div class="privileges__header" [class.privileges__header--clickable]="collapsed" (click)="collapsed && toggleCollapsed()">
    <h3 class="privileges__title">Privileges</h3>
    <div class="privileges__actions">
      <button mat-icon-button (click)="toggleCollapsed()" [matTooltip]="collapsed ? 'Expand' : 'Collapse'">
        <mat-icon>{{ collapsed ? 'expand_more' : 'expand_less' }}</mat-icon>
      </button>
      @if (!disable()) {
      @if (!editMode) {
      <button mat-icon-button (click)="editMode = true" matTooltip="Edit privileges">
        <mat-icon>edit</mat-icon>
      </button>
      } @if (editMode) {
      <button mat-raised-button color="warn" (click)="editMode = false">Cancel</button>
      <button mat-raised-button color="primary" (click)="close()">Update</button>
      } }
    </div>
  </div>

  @if (!collapsed) {
  <div class="privileges__list">
    @for (privilegeName of privileges() | groupPrivileges; track privilegeName.key) {
    @if (editMode) {
    <div class="privileges__group">
      <div class="privileges__key">{{ privilegeName.key }}:</div>
      <div class="privileges__values">
        @for (privilegeVerb of privilegeName.values; track privilegeVerb.privilege.privilege_id) {
        <div class="privileges__verb">
          <mat-checkbox
            class="privileges__checkbox"
            (change)="onPrivilegeChange($event.checked, privilegeVerb.privilege)"
            [checked]="ownedPrivilegesList().includes(privilegeVerb.privilege.privilege_id)"
          ></mat-checkbox>
          <span
            [class.privileges__verb--added]="changer.isAdded(privilegeVerb.privilege.privilege_id)"
            [class.privileges__verb--deleted]="changer.isDeleted(privilegeVerb.privilege.privilege_id)"
          >
            {{ privilegeVerb.verb }}
          </span>
        </div>
        }
      </div>
    </div>
    } @else { @if (ownedPrivilegesName().includes(privilegeName.key)) {
    <div class="privileges__group">
      <div class="privileges__key">{{ privilegeName.key }}:</div>
      <div class="privileges__values">
        @for (privilegeVerb of privilegeName.values; track privilegeVerb.privilege.privilege_id) {
        @if (ownedPrivilegesList().includes(privilegeVerb.privilege.privilege_id)) {
        <span class="privileges__verb">
          {{ privilegeVerb.verb }}
        </span>
        } }
      </div>
    </div>
    } } }
  </div>
  }
</div>
